<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../../static/js/mail-script.js"></script>
<script src="../../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../static/vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="../../static/js/mail-script.js"></script>
<script src="../../static/js/stellar.js"></script>
<script src="../../static/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="../../static/js/custom.js"></script>