<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="header_area">
    <head th:replace="common/head::head"></head>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/}">主页</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Catalog/Mdd}">目的地</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Catalog/HotProductList}">热门旅游</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Catalog/HotHotelList}">酒店</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/TraverAsk/ViewTraverNote}">游记</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/TraverAsk/QuestionAnswer}">问答专区</a></li>
                    <li class="nav-item" style="margin-left: 200px">
                        <a th:if="!${session.username}" class="nav-link"
                           th:href="@{/account/ViewUserCenter}">用户中心</a>
                    </li>
                    <li th:if="!${session.username}" class="nav-item">
                        <a class="nav-link"
                           th:href="@{/account/ViewSignonForm}">登陆</a>
                    </li>
                    <li th:if="!${session.username}" class="nav-item">
                        <a class="nav-link"
                           th:href="@{/account/ViewRegister}">注册</a>
                    </li>
                    <li th:if="${session.username}" class="nav-item">
                        <a class="nav-link"
                           href="../Account/AccountRegister.html">注销</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<footer th:fragment="footer" class="footer-area section_gap">
    <!--<div class="container" style="height: 50px;">-->
    <!--&lt;!&ndash;<div class="border_line"></div>&ndash;&gt;-->
    <!---->
    <!--</div>-->
    <div class="row footer-bottom d-flex justify-content-between align-items-center">
        <p class="col-lg-8 col-sm-12 footer-text m-0" style="text-align: center">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | made with 陈志轩-group
        </p>
    </div>
</footer>

</html>

