<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="userHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>个人中心</title>
    <meta name="renderer" content="webkit"/>
    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1527308432.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+path+wo-path_v2:css+clip:css+path+map:css+path+jvectormap-2.0.1^alI^1509971336.css"
          rel="stylesheet" type="text/css"/>
    <script language="javascript"
            src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js"
            type="text/javascript" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            padding-top: 0px !important;
        }
    </style>
</head>
<body>
<!--导航栏-->
<div th:fragment="userNav" class="banner">
    <style>
        .tags_link {
            font-size: 15px !important;
        }
    </style>
    <div class="tags_bar">
        <div class="center clearfix">
            <ul class="flt2">
                <li><a class="tags_link" th:href="@{/}" title="返回主页">回到首页</a></li>
                <li><a class="tags_link" th:href="@{/account/ViewUserCenter}" title="我的主页">我的主页</a></li>
                <li><a class="tags_link" th:href="@{/account/ViewMyTraverNotes}" title="我的游记">我的游记</a></li>
                <li><a class="tags_link" th:href="@{/account/ViewMyTraverAnswers}" title="我的问答">我的问答</a></li>
                <li><a class="tags_link" href="#" title="我的收藏">我的收藏</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="userLeft" class="side_bar flt1">
    <!--用户信息-->
    <div class="MAvatar" style="margin-top: 60px">
        <!--头像-->
        <div class="MAvaImg hasAva">
            <img th:src="${session.userProfile.image}" height="120" width="120">
            <!--设置头像-->
            <a th:href="@{/account/GotoSettingInfo}" class="MAvaUp">
                <i class="Mphoto"></i>
            </a>
        </div>
        <!--昵称和性别标签-->
        <div class="MAvaName" th:text="${session.userProfile.nick_name}">
            <i th:if="${session.userProfile.gender=='male'}" class="MGenderMale">男</i>
            <i th:if="${session.userProfile.gender=='female'}" class="MGenderFemale">女</i>
            <i th:if="${session.userProfile.gender==null}" class="MGender">未知</i>
        </div>
        <!--生日和居住地，设置图标-->
        <div class="MAvaInfo clearfix MAvaMyInfo">
            <span class="MAvaLevel flt1" title="11.15"
                  th:text="'生日: '+${session.userProfile.birthday}" th:if="${session.userProfile.birthday!=null}"></span>
            <span class="MAvaPlace flt1" th:text="${session.userProfile.address}"></span>
            <span class="MAvaSet" style="margin-top: 5px"><a title="设置"
                                                             th:href="@{/account/AccountSetting}"></a>设置</span>
        </div>
        <!--数据展示-->
        <div class="MAvaMore clearfix">
            <div class="MAvaNums">
                <strong><a href="#">5</a></strong>
                <p>关注</p>
            </div>
            <div class="MAvaNums">
                <strong><a href="#">20</a></strong>
                <p>粉丝</p>
            </div>
            <div class="MAvaNums last">
                <strong><a href="#">3</a></strong>
                <p>游记</p>
            </div>
        </div>
    </div>
    <!--我的关注-->
    <div class="MUsers">
        <div class="MUsersTitle">我的关注</div>
        <div class="MUsersDetail" id="_j_followcnt">
            <div class="MUsersAtom">
                <ul class="clearfix _j_followlist">
                    <li>
                        <a target="_blank">
                            <img src="http://p4-q.mafengwo.net/s11/M00/44/FF/wKgBEFqx9GeAMw4mAADuZSQe9AY372.png?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                 height="48" width="48" alt="小蜂" title="小蜂">
                        </a>
                        <p><a target="_blank" title="张恺庭">张恺庭</a></p>
                    </li>
                    <li>
                        <a target="_blank">
                            <img src="http://n1-q.mafengwo.net/s9/M00/0D/F5/wKgBs1hPb8WAEruUAAGXKCGfy4U06.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                 height="48" width="48" alt="蜂窝机器人" title="蜂窝机器人">
                        </a>
                        <p><a target="_blank" title="陈志轩">陈志轩</a></p>
                    </li>
                    <li>
                        <a target="_blank">
                            <img src="http://p1-q.mafengwo.net/s11/M00/E6/B5/wKgBEFsWUTmAexhvAANf5Uux-cw10.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                 height="48" width="48" alt="马蜂窝大管家" title="马蜂窝大管家">
                        </a>
                        <p><a target="_blank" title="廖智勇">廖智勇</a></p>
                    </li>
                    <li>
                        <a target="_blank">
                            <img src="http://b3-q.mafengwo.net/s11/M00/63/A5/wKgBEFqyBhiABvUmAAEyFTouc2U797.png?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                 height="48" width="48" alt="小蚂" title="小蚂">
                        </a>
                        <p><a href="/u/461006.html" target="_blank" title="黄凯">黄凯</a></p>
                    </li>
                    <li>
                        <a target="_blank">
                            <img src="http://b4-q.mafengwo.net/s10/M00/E8/CD/wKgBZ1iZk2SAGbKsAAME0TWzCHE45.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"
                                 height="48" width="48" alt="马小蜂" title="马小蜂">
                        </a>
                        <p><a href="/u/90102427.html" target="_blank" title="王鹭星">王鹭星</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer" id="footer">
    <div class="row footer-bottom d-flex justify-content-between align-items-center ">
        <p class="col-lg-8 col-sm-12 footer-text m-0" style="text-align: center">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | made with 陈志轩-group
        </p>
    </div>
</div>
</body>
</html>