<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1527308432.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/mfw-ask/mfw-ask.css?1492702270" rel="stylesheet" type="text/css"/>
    <script language="javascript"
            src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js"
            type="text/javascript" crossorigin="anonymous">

    </script>

    <!--这里实现搜索AJAX-->
    <script>
        function searchAskList() {
            var xmlhttp = null;
            var keyword = document.getElementsByName("keyword");
            //判断浏览器类型，创建 XMLHttpRequest 对象

            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }

            /**
             xmlhttp.open("GET","test1.txt",true); method：请求的类型；GET 或 POST
             url：文件在服务器上的位置
             async：true（异步）或 false（同步）

             xmlhttp.send();            string：仅用于 POST 请求
             **/
            // xmlhttp.onreadystatechange() = function () {
            //     if(xmlhttp.status==200 && xmlhttp.readyState==4){
            //         document.getElementById("").innerText = xmlhttp.responseText;
            //     }
            // }
            xmlhttp.open("GET","http://localhost:8080/TraverAsk/searchAskList?keyword="+ keyword[0].value,true);
            xmlhttp.send();

        }
        <!-- 回调函数
            function doResult() {
            if(xmlhttp.readyState==4 && xmlhttp.status==200){
                document.getElementById("keyword") = xmlhttp.responseText;
            }
        }
        -->
    </script>

</head>
<body>
<!--================ 导航栏区域 =================-->
<header th:replace="common/menu::header"></header>
<!--================ 导航栏区域 =================-->
<div id="content">
    <br><br><br>
    <div class="wrapper wrapper-new" data-cs-t="wenda">
        <div class="wrapper wrapper-new" data-cs-t="wenda">
            <div class="col-main">
                <div class="i-main">
                    <div class="mt-nav clearfix i_link">
                        <a th:href="@{/TraverAsk/QuestionAnswer}">问答首页</a>
                        <em></em>
                        <div class="drop-mine _j_crumb_my">
                            <a class="drop-hd" th:href="@{/account/ViewMyTraverAnswers}" target="_blank"><i></i>我的问答</a>
                        </div>
                    </div>
                     <div class="search-box ">
                        <div class="search-panel" data-cs-t="wenda">
                            <div class="clearfix _j_suggest_hd" >
                                 <!--
                                    <div class="sp-input" style="height: auto!important;">
                                        <input type="text" id="_j_wenda_seach_input" name="keyword" value="" placeholder="提问前请先搜索">
                                    </div>
                                    <input  type="button" value="" id="_j_wenda_seach_button" class="sp-button" data-mddid="0" onclick="searchAskList()">
                                 -->
                                 <form th:action="@{/TraverAsk/searchAskList}">
                                    <div class="sp-input" style="height: auto!important;">
                                        <input type="text" id="_j_wenda_seach_input" name="keyword" value="" placeholder="提问前请先搜索">
                                    </div>
                                    <input  type="submit" value="" id="_j_wenda_seach_button" class="sp-button" data-mddid="0">
                                </form>
                        </div>
                        <div class="bd _j_suggest_box hide">
                        </div>
                    </div>
                </div>
            </div>
                <div class="newcate-wrap _j_qa_list">
                    <div class="hd">
                        <ul class="cate-tab">
                            <li class="on _j_change_type" data-type="1" data-sort="10">
                                <a th:href="@{/TraverAsk/ViewHotQuestion}">
                                    热门问题
                                </a>
                            </li>
                            <li class="_j_change_type" data-type="0" data-sort="1">
                                <a th:href="@{/TraverAsk/ViewNewQuestion}">
                                    最新问题
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--问题显示区-->
                    <div class="bd newcate-bd">
                        <!--问题列表-->
                        <ul class="_j_pager_box" th:each="userAsk : ${askList}">
                            <!--这是一个循环问题块-->
                            <li class="item clearfix " data-qid="12980256">
                                <!--问题标题-->
                                <div class="title">
                                    <a th:href="@{/TraverAsk/viewAskAnswerDetail(askId = ${userAsk.id})}" target="_blank" th:text="${userAsk.title}">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                                </div>
                                <!--问题内容-->
                                <div class="container">
                                    <!--用户头像-->
                                    <div class="avatar"><a target="_blank" class="_j_filter_click"><img
                                            class="_j_filter_click"
                                            src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a>
                                    </div>
                                    <!--用户昵称-->
                                    <div class="user-info">
                                        <a class="name _j_filter_click" target="_blank" th:text="${userAsk.user_id}">张恺庭</a>
                                    </div>
                                    <!-- 问题描述 -->
                                    <div class="desc clearfix">
                                        <a th:href="@{/TraverAsk/viewAskAnswerDetail(askId = ${userAsk.id})}" target="_blank" style="color: #666;">
                                            <p th:text="${userAsk.ask_content}">
                                                明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                        </a>
                                    </div>
                                    <!--相关操作-->
                                    <div class="operate">
                                        <!--回答-->
                                        <a th:href="@{/TraverAsk/viewAskAnswerDetail(askId = ${userAsk.id})}" target="_blank" style="text-decoration: none;">
                                            <span class="reply">回答 (2)</span>
                                        </a>
                                        <!--发布时间-->
                                        <span class="date" th:text="发布于+${userAsk.add_time}">发布于17分钟前</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="_j_pager">
                        <div class="ft ft_load_btn">
                            <div class="answer-more _j_add_more_button">
                                <a>加载更多<i></i></a>
                            </div>
                        </div>
                        <div class="ft ft_loading _j_add_loading_button hide">
                            <div class="answer-loading">正在加载<i></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------提问模块以及显示当前参加问题的人数------->
            <div class="col-side">

                <div class="i-ask">
                    <a th:href="@{/TraverAsk/ViewCreateAsk}" class="btn-ask btn-ask2" target="_blank"><i></i>我要提问</a>
                </div>

                <div class="i_num">
                    共<span id="q_total">3425001</span>问题<span id="u_total">8029366</span>人参与
                </div>
            </div>
        </div>
        <link href="http://css.mafengwo.net/mobile/css/omc/coupon-pop/coupon-pop.css?1526627473" rel="stylesheet"
              type="text/css"/>
    </div>
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>
