<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../static/image/favicon.png" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/vendors/linericon/style.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../static/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../../static/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsive.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1527308432.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/mfw-ask/mfw-ask.css?1492702270" rel="stylesheet" type="text/css"/>
    <script language="javascript"
            src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js"
            type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>

<!--================Header Area =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item "><a class="nav-link" href="../index.html">主页</a></li>
                    <li class="nav-item "><a class="nav-link" href="../ProductDT/CityMsg.html">目的地</a></li>
                    <li class="nav-item active"><a class="nav-link" href="../TraverAsk/QuestionAnswer.html">问答专区</a></li>
                    <li class="nav-item"><a class="nav-link" href="../ProductDT/ProductList.html">热门旅游</a></li>
                    <li class="nav-item "><a class="nav-link" href="../ProductDT/Hotelist.html">酒店</a></li>
                    <li class="nav-item "><a class="nav-link" href="../TraverAsk/TraverNoteList.html">游记</a></li>
                    <li class="nav-item" style="margin-left: 100px"><a class="nav-link" href="../Account/UserCenter.html">用户中心</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Account/AccountLogin.html">登陆</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Account/AccountRegister.html">注册</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================Header Area =================-->

<br><br><br>

<div class="wrapper wrapper-new" data-cs-t="wenda"><div class="wrapper wrapper-new" data-cs-t="wenda">
    <div class="col-main">
        <div class="i-main">
            <div class="mt-nav clearfix i_link">
                <a href="/wenda/">问答首页</a>
                <em></em>
                <div class="drop-mine _j_crumb_my">
                    <a class="drop-hd" href="/wenda/u/85353052/answer.html" target="_blank"><i></i>我的问答</a>
                    <ul class="drop-bd" style="display: none;">
                        <li><a href="/wenda/u/85353052/question.html" target="_blank">我的提问</a></li>
                        <li><a href="/wenda/u/85353052/answer.html" target="_blank">我的回答</a></li>
                    </ul>
                </div>
            </div>


            <div class="search-box ">
                <div class="search-panel" data-cs-t="wenda"  >
                    <div class="clearfix _j_suggest_hd" >
                        <div class="sp-input" style="height: auto!important;">
                            <input type="text" id="_j_wenda_seach_input" value="" placeholder="提问前请先搜索">
                        </div>
                        <input type="button" id="_j_wenda_seach_button" class="sp-button" data-mddid="0">
                    </div>
                    <div class="bd _j_suggest_box hide">
                    </div>
                </div>
            </div>
        </div>


        <div class="newcate-wrap _j_qa_list">
            <div class="hd">
                <ul class="cate-tab">
                    <li class="on _j_change_type" data-type="1" data-sort="10">
                        <a>
                            热门问题
                        </a>
                    </li>
                    <li class="_j_change_type" data-type="0" data-sort="1">
                        <a>
                            最新问题
                        </a>
                    </li>
                    <!--<li class="_j_change_type" data-type="2" data-sort="1">-->
                    <!--<a>-->
                    <!--待回答问题-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>

            <!--问题显示区-->
            <div class="bd newcate-bd">

                <!--问题列表-->
                <ul class="_j_pager_box">

                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>


                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>
                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>

                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>

                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>


                    <!--这是一个问题块-->
                    <li class="item clearfix " data-qid="12980256">
                        <!--问题标题-->
                        <div class="title">
                            <a href="./askanwDetail.html" target="_blank">长沙世界之窗新概念水上乐园玩完有地方洗澡和啪啪啪吗？</a>
                        </div>
                        <!--问题内容-->
                        <div class="container">
                            <!--用户头像-->
                            <div class="avatar"><a href="#" target="_blank" class="_j_filter_click"><img class="_j_filter_click" src="http://n2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2190x90r%2Fgravity%2FCenter%2Fcrop%2F%2190x90%2Fquality%2F90"></a></div>
                            <!--用户昵称-->
                            <div class="user-info">
                                <a class="name _j_filter_click" href="#" target="_blank">王鹭星</a>
                            </div>
                            <!--问题描述-->
                            <div class="desc clearfix">
                                <a href="./askanwDetail.html" target="_blank" style="color: #666;">
                                    <p>明天开车去长沙世界之窗，请问世界之窗有免费停车的地方吗？能大包小包提进去吗？因为要带吃的和泳衣。然后想问下水上乐园玩完能有地方洗澡吗？玩每个项目前，包包有地方寄存吗？寄存要钱吗？问题有点多，麻烦各位了🌸🌸</p>
                                </a>
                            </div>
                            <!--相关操作-->
                            <div class="operate">
                                <!--回答-->
                                <a href="./askanwDetail.html" target="_blank" style="text-decoration: none;">
                                    <span class="reply">回答 (2)</span>
                                </a>
                                <!--发布时间-->
                                <span class="date">发布于17分钟前</span>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
            <div class="_j_pager">
                <div class="ft ft_load_btn">
                    <div class="answer-more _j_add_more_button">
                        <a>加载更多<i></i></a>
                    </div>
                </div>
                <div class="ft ft_loading _j_add_loading_button hide">
                    <div class="answer-loading">正在加载<i></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-side">

        <div class="i-ask">
            <a href="createAsk.html" class="btn-ask btn-ask2" target="_blank"><i></i>我要提问</a>
        </div>

        <div class="i_num">
            共<span id="q_total">3425001</span>问题<span id="u_total">8029366</span>人参与
        </div>
    </div>

</div>
<link href="http://css.mafengwo.net/mobile/css/omc/coupon-pop/coupon-pop.css?1526627473" rel="stylesheet"
      type="text/css"/>

<!--<script language="javascript" src="http://js.mafengwo.net/mobile/js/activity/app_newer_180.js?1526627474" type="text/javascript" crossorigin="anonymous"></script>-->
<!--<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>-->

<!--底部黑色栏-->
<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>

<div id="footer">
    <div class="ft-content" style="width: 1105px">
        <div class="footer-font">
            Copyright &copy;2018 All rights reserved | This webpage is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> 陈志轩小组
        </div>

    </div>
</div>


<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
        <a role="button" class="btn _j_gotop">
            <i class="icon_top"></i>
            <em>返回顶部</em>
        </a>
    </div>

    <div class="toolbar-item-down">
        <a role="button" class="btn _j_gobottom">
            <i class="icon_down"></i>
            <em>页面底部</em>
        </a>
    </div>
</div>
<script language="javascript" type="text/javascript">
    if (typeof M !== "undefined" && typeof M.loadResource === "function") {
        M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+qa+QaCommon:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+qa+QaSeach:js+qa+QaSlide:js+mSnsShare:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+qa+DoShare:js+qa+QaShare:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZVZb^1531130229.js");
    }
</script>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../../static/js/mail-script.js"></script>
<script src="../../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../static/vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="../../static/js/mail-script.js"></script>
<script src="../../static/js/stellar.js"></script>
<script src="../../static/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="../../static/js/custom.js"></script>

</body>
</html>
