<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->

<div id="content">
    <!--================Banner Area =================-->
    <section class="banner_area blog_banner d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h4>以 山 之 名 </h4>
                <p>重 回 神 之 国 度 ， 行 走 雪 山 天 堂</p>
                <!--<a href="#" class="btn white_btn button_hover">详情</a>-->
            </div>
        </div>
    </section>
    <!--================Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">美食</a>
                                        <a href="#">生活方式,</a>
                                        <a href="#">攻略</a>
                                        <a href="#">游玩</a>
                                    </div>
                                    <ul class="blog_meta list_style">
                                        <li><a href="#">小小轩<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">12 月, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 评论<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="../../static/image/blog/main-blog/m-blog-1.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="#"><h2>第一篇游记</h2></a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the
                                            MCSE study materials yourself at a fraction.</p>
                                        <a href="TraverNoteDetail.html" class="view_btn button_hover">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">美食,</a>
                                        <a href="#">美景</a>
                                        <a href="#">攻略</a>
                                        <a href="#">游玩</a>
                                    </div>
                                    <ul class="blog_meta list_style">
                                        <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="../../static/image/blog/main-blog/m-blog-2.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="#"><h2>The Basics Of Buying A Telescope</h2></a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the
                                            MCSE study materials yourself at a fraction.</p>
                                        <a href="#" class="view_btn button_hover">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list_style">
                                        <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="../../static/image/blog/main-blog/m-blog-3.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="#"><h2>The Glossary Of Telescopes</h2></a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the
                                            MCSE study materials yourself at a fraction.</p>
                                        <a href="#" class="view_btn button_hover">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list_style">
                                        <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="../../static/image/blog/main-blog/m-blog-4.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="#"><h2>The Night Sky</h2></a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the
                                            MCSE study materials yourself at a fraction.</p>
                                        <a href="#" class="view_btn button_hover">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Food,</a>
                                        <a href="#">Technology,</a>
                                        <a href="#">Politics,</a>
                                        <a href="#">Lifestyle</a>
                                    </div>
                                    <ul class="blog_meta list_style">
                                        <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="../../static/image/blog/main-blog/m-blog-5.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="#"><h2>Telescopes 101</h2></a>
                                        <p>MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you should have to spend money on boot camp when you can get
                                            the
                                            MCSE study materials yourself at a fraction.</p>
                                        <a href="#" class="view_btn button_hover">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="#" class="page-link">01</a></li>
                                <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                <li class="page-item"><a href="#" class="page-link">03</a></li>
                                <li class="page-item"><a href="#" class="page-link">04</a></li>
                                <li class="page-item"><a href="#" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索游记">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <br><br><br><br><br>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">热门游记</h3>
                            <div class="media post_item">
                                <img src="../../static/image/blog/post1.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h3>第一游记</h3></a>
                                    <p>2000喜欢</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../../static/image/blog/post2.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h3>第二游记</h3></a>
                                    <p>1000喜欢</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../../static/image/blog/post3.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h3>第三游记</h3></a>
                                    <p>500喜欢</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="../../static/image/blog/post4.jpg" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h3>第四游记</h3></a>
                                    <p>100喜欢</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <br><br><br><br><br>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="../../static/image/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">游记分类</h4>
                            <ul class="list_style cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>美食</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>休闲</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>城市</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>野外</p>
                                        <p>29</p>
                                    </a>
                                </li>

                            </ul>
                            <div class="br"></div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>