<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->

<div id="content">
    <!--================Banner Area =================-->
    <section class="banner_area blog_banner d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h4>以 山 之 名 </h4>
                <p>重 回 神 之 国 度 ， 行 走 雪 山 天 堂</p>
                <!--<a href="#" class="btn white_btn button_hover">详情</a>-->
            </div>
        </div>
    </section>
    <!--================Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="hero-unit"
                                     th:each="traverNote : ${travelNotePageInfo.getPageData()}">
                                    <a th:href="@{/TraverAsk/ViewTraverNoteDetail(traverNoteId = ${traverNote.id})}">
                                        <h3 th:text="${traverNote.title}"
                                            style="width:15em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color: #F3C300"></h3>
                                    </a>
                                    <p th:text="${traverNote.note_content}"></p>
                                    <p>
                                        <a th:href="@{/TraverAsk/ViewTraverNoteDetail(traverNoteId = ${traverNote.id})}"
                                           class="view_btn button_hover">查看详情 »</a>
                                    </p>
                                    <hr style="color: #73ffd6">
                                </div>

                            </div>
                        </div>
                    </div>
                    <center th:if="${travelNotePageInfo.getPageData().size() != 0}">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum = 1)}"> 首页 </a>
                                </li>
                                <li>
                                    <a th:if="${not travelNotePageInfo.isFirstPage()}"
                                       th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum = ${travelNotePageInfo.getCurrentPage() - 1})}">上一页</a>
                                </li>

                                <li th:if="${travelNotePageInfo.getMaxPage() <= 10}"
                                    th:each="pageNo : ${#numbers.sequence(1, travelNotePageInfo.getMaxPage())}">
                                    <a th:if="${travelNotePageInfo.getCurrentPage() eq pageNo}"
                                       href="javascript:void(0);">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                    <a th:if="${not (travelNotePageInfo.getCurrentPage() eq pageNo)}"
                                       th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum=${pageNo})}">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                </li>

                                <li th:if="${travelNotePageInfo.getCurrentPage()+10 >= travelNotePageInfo.getMaxPage() && travelNotePageInfo.getMaxPage() > 10}"
                                    th:each="pageNo : ${#numbers.sequence(travelNotePageInfo.getMaxPage() -10, travelNotePageInfo.getMaxPage())}">
                                    <a th:if="${travelNotePageInfo.getCurrentPage() eq pageNo}"
                                       href="javascript:void(0);">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                    <a th:if="${not (travelNotePageInfo.getCurrentPage() eq pageNo)}"
                                       th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum=${pageNo})}">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                </li>

                                <li th:if="${travelNotePageInfo.getCurrentPage()+10 < travelNotePageInfo.getMaxPage() && travelNotePageInfo.getMaxPage() > 10}"
                                    th:each="pageNo : ${#numbers.sequence(travelNotePageInfo.getCurrentPage(), travelNotePageInfo.getCurrentPage()+10)}">
                                    <a th:if="${travelNotePageInfo.getCurrentPage() eq pageNo}"
                                       href="javascript:void(0);">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                    <a th:if="${not (travelNotePageInfo.getCurrentPage() eq pageNo)}"
                                       th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum=${pageNo})}">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                </li>

                                <li>
                                    <a th:if="${not travelNotePageInfo.isLastPage()}"
                                       th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum=${travelNotePageInfo.getCurrentPage()+1})}">下一页</a>
                                </li>

                                <li>
                                    <a th:href="@{${'/TraverAsk/ViewTraverNote'}(pageNum = ${travelNotePageInfo.getMaxPage()})}">
                                        尾页 </a>
                                </li>
                            </ul>
                        </nav>
                    </center>
                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <form th:action="@{/TraverAsk/searchNoteList}">
                                    <input type="text" name="keyword" class="form-control" placeholder="搜索游记">
                                    <span class="input-group-btn"></span>
                                    <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i>
                                    </button>
                                </form>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget search_widget">
                            <div class="widget_title">
                                <a th:href="@{/account/GotoCreateNote}" target="_blank" title="写游记"
                                   class="btn_write"><i></i>写游记</a>
                            </div>
                        </aside>

                        <br><br><br><br><br>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">热门游记</h3>
                            <div class="media post_item" th:each="hotTraverNote : ${hotTraverNoteList}">
                                <img th:src="${hotTraverNote.img_url}" alt="post">
                                <div class="media-body">
                                    <a th:href="@{/TraverAsk/ViewTraverNoteDetail(traverNoteId = ${hotTraverNote.id})}"
                                       th:text="${hotTraverNote.title}"><h3>第一游记</h3></a>
                                    <p th:text="${hotTraverNote.star_num}+喜欢">2000喜欢</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                    <br><br><br><br><br>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#">
                            <img class="img-fluid" src="../../static/image/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>