<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>用户登录</title>
    <meta property="mfw:partner-platform" content="">
    <link href="https://css.mafengwo.net/css/cv/css+login+login_v2:mobile+css+omc+login-omc+login-omc^ZlY^1526627473.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="https://js.mafengwo.net/js/cv/js+global+json2:js+m.statistics^YFQ^1536006240.js" type="text/javascript" crossorigin="anonymous"></script>


</head>
<body>

<div class="wrapper">
    <div class="container">

        <div class="signup-forms">
            <div class="signup-box">
                <div class="add-info">
                    <div class="hd">用户登录</div>
                    <form action="/login/AccountLogin.html" method="post" id="_j_login_form">
                        <div class="form-field">
                            <input name="passport" type="text" placeholder="您的邮箱" autocomplete="off"
                                   data-verification-name="帐号" class="verification[required,maxSize[50],funcCall[checkShowCode]]" value="" />
                            <div class="err-tip"></div>
                        </div>
                        <div class="form-field">
                            <input name="password" type="password" placeholder="您的密码" autocomplete="off"
                                   data-verification-name="密码" class="verification[required,minSize[4],maxSize[50]]" />
                            <div class="err-tip"></div>
                        </div>

                        <div class="form-link"><a href="ForgetPasswd.html">忘记密码</a></div>
                        <div class="submit-btn">
                            <a href="../../index.html">登 录</a>
                        </div>
                    </form>
                </div>
                <div class="bottom-link">
                    还没有帐号?<a href="AccountRegister.html">马上注册</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+plugins+jquery.placeholder:passport+js+app^ZVA^1493174420.js" type="text/javascript" crossorigin="anonymous"></script>
<script language="javascript" src="https://js.mafengwo.net/js/cv/js+mfw.verification:passport+js+form^YFM^1534757150.js" type="text/javascript" crossorigin="anonymous"></script>


</body>
</html>