
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>个人中心</title>
    <meta name="renderer" content="webkit" />

    <script type="text/javascript">
        window.Env = {"target_uid":85353052,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"http:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","UID":85353052,"CSTK":"c4e6a3c005e9592ed1e02eff19cec0ef_70523a9f029046650a05b6ff67caaa52","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","TONGJI_HOST":"tongji.mafengwo.cn"};
    </script>

    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1527308432.css" rel="stylesheet" type="text/css"/>


    <link href="http://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+home_new2015+home_ask_v2^Zl0^1498530603.css" rel="stylesheet" type="text/css"/>

    <script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js" type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>

<div class="main">
    <!--导航栏-->
    <div class="banner">

        <div class="tags_bar">
            <div class="center clearfix">
                <ul class="flt2">
                    <li><a class="tags_link" href="../../index.html" title="返回主页">返回主页</a></li>
                    <li class="on"><a class="tags_link" href="UserCenter.html" title="我的主页">我的主页</a></li>
                    <li><a class="tags_link" href="MyTravelNote.html" title="我的游记">我的游记</a></li>
                    <li><a class="tags_link" href="MyAnswer.html" title="我的问答">我的问答</a></li>
                    <li><a class="tags_link" href="#" title="我的收藏">我的收藏</a></li>
                    <li class="more ">
                        <span class="tags_link" role="button" title="更多" style="cursor:default">更多<i class="MDownMore"></i></span>
                        <div class="tags_more_list">
                            <ul>
                                <li data-cs-t="go_to_activity"><a href="#" title="我的攻略" data-cs-p="activity"><i class="ico_activity"></i><span>我的攻略</span></a></li>
                                <li data-cs-t="go_to_activity"><a href="#" title="我的定制"><i class="ico_group"></i><span>我的定制</span></a></li>
                                <li data-cs-t="go_to_activity"><a href="#" title="我的点赞"><i class="ico_collect"></i><span>我的点赞</span></a></li>
                                <li data-cs-t="go_to_activity"><a href="#" title="我的门票"><i class="ico_order"></i><span>我的门票</span></a></li>
                                <li data-cs-t="go_to_activity"><a href="#" title="我的产品"><i class="ico_ticket"></i><span>我的产品</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--页面内容-->
    <div class="center clearfix">

        <!--左侧边栏-->
        <div class="side_bar flt1">

            <!--用户信息-->
            <div class="MAvatar">



                <!--昵称和性别标签-->
                <div class="MAvaName">畅游用户625
                    <i class="MGenderMale"></i>
                    <!--<i class="MGenderFemale"></i>-->
                    <!--<i class="MGender"></i>-->
                </div>

                <!--生日和居住地，设置图标-->
                <div class="MAvaInfo clearfix MAvaMyInfo">
                    <span class="MAvaLevel flt1" title="11.15">生日：11.15</a></span>
                    <span class="MAvaPlace flt1" title="鹿儿岛">现居：鹿儿岛</span>
                    <span class="MAvaSet"><a title="设置" href="AccountSetting.html" target="_self"></a></span>
                </div>

            </div>


        </div>
        <div class="content flt2">
            <div class="achievement clearfix">
                <ul>
                    <li><a href="/wenda/u/85353052/answer.html"><strong>0</strong><div>回答数</div></a></li>
                    <li>
                        <strong><i></i>0</strong><div>提问数</div>
                    </li>
                    <li><strong>0%</strong><div>采纳率</div></li>
                </ul>
                <a class="btn" href="/wenda/publish.html">我要提问</a>
            </div>
            <div class="wd-main">
                <div class="wd-navbar clearfix">
                    <ul class="wd-nav _j_qa_nav">
                        <li><a href="MyAnswer.html">我的回答</a></li>
                        <li class="on"><a href="MyAsk.html">我的提问</a></li>
                    </ul>
                </div>
                <div class="wd-total">共有<span class="_j_total_item">0条</span>提问</div>
                <div class="wd-list _j_qa_list">
                    <div class="no_data">
                        <img src="http://css.mafengwo.net/images/home_new2015/no_num.png" height="139" width="156" alt="">
                        <p>这里的还没有东西</p>
                    </div>

                </div>

                <div class="wd-list _j_qa_list">
                    <!--这是一个条目-->
                    <div class="wd-item">
                        <div class="wd-medal">
                        </div>
                        <div class="wd-title">
                            <a href="/wenda/detail-12610448-12625441.html" target="_blank">中秋期间想去稻城亚丁和色达，有推荐靠谱的拼车司机吗？</a>
                        </div>
                        <div class="wd-detail">
                            谢邀啦可以试试我上个月找的拼车团队，非常nice~随时想停车都可以，主要是带队的人好，特别体贴我们。什么旅拍，航拍，氧气瓶都有的。还可以去看看我的游记哟~
                        </div>
                        <div class="wd-meta">
                            <span class="meta-item meta-like"><i></i>1</span>
                            <div class="meta-pull">
                                <span class="meta-item meta-commit">1回答</span>
                                <span class="meta-item meta-time">2018-08-10 15:25</span>
                            </div>
                        </div>
                    </div>

                    <div class="pagin" id="smallpager"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-jquery-tmpl" id="_j_pagitmpl">
    {{if pageTotal > 1 && $("#_j_param").data('type') != 5}}
	    <div align="right" class="m-pagination">
            <span class="count">共<span>${pageTotal}</span>页 / <span>${total}</span>条</span>
             {{if currPage > 1}}
				<a class="pg-prev _j_pageitem" data-page="${currPage - 1}">&lt;&lt; 上一页</a>
                {{/if}}
				{{if indexers[indexers.length-1] > 10}}
                <a class="ti _j_pageitem" data-page="1">1...</a>
                {{/if}}
                {{each(i, index) indexers}}
                {{if index == currPage}}
                <span class="pi pg-current">${index}</span>
                {{else}}
                <a class="pi _j_pageitem" data-page="${index}">${index}</a>
                {{/if}}
                {{/each}}
                {{if indexers[indexers.length-1] < pageTotal}}
                <a class="pi _j_pageitem" data-page="${pageTotal}">...${pageTotal}</a>
                {{/if}}
                {{if currPage < pageTotal}}
				<a class="pg-next _j_pageitem" data-page="${currPage + 1}">下一页 &gt;&gt;</a>
            {{/if}}
        </div>
    {{/if}}
</script>

    <link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>

    <div id="footer">
        <div class="ft-content" style="width: 1105px">
            <div class="footer-font">
                Copyright &copy;2018 All rights reserved | This webpage is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> 陈志轩小组
            </div>

        </div>
    </div>


    <link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>

    <div class="mfw-toolbar" id="_j_mfwtoolbar">
        <div class="toolbar-item-top">
            <a role="button" class="btn _j_gotop">
                <i class="icon_top"></i>
                <em>返回顶部</em>
            </a>
        </div>
        <div class="toolbar-item-down">
            <a role="button" class="btn _j_gobottom">
                <i class="icon_down"></i>
                <em>页面底部</em>
            </a>
        </div>
    </div>


    <script language="javascript" type="text/javascript">
        if (typeof M !== "undefined" && typeof M.loadResource === "function") {
            M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+jquery.tmpl:js+M+module+Pagination:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+qa+QaHome:js+M+module+dialog+confirm:js+M+module+FrequencyVerifyControl:js+M+module+FrequencyAppVerify:js+home+AMsgBoard:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlJT^1531130229.js");
        }
    </script>

</body>
</html>
