<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>找回密码</title>
    <link href="https://css.mafengwo.net/css/cv/css+login+login_v2:mobile+css+omc+login-omc+login-omc^ZlY^1526627473.css"
          rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="signup-forms">
            <div class="signup-box" id="_j_forget_box">
                <div class="add-info">
                    <div class="hd">找回密码</div>
                    <form action="" method="post" id="_j_forget_form">
                        <input type="hidden" name="token" value="6bed324f5d06c2f1ea76822f67814579"/>
                        <div class="form-field">
                            <input name="passport" type="text" placeholder="您的邮箱" autocomplete="off" data-type="email"
                                   data-verification-name="邮箱" class="verification[required,maxSize[50],custom[email]]"
                                   value=""/>
                            <div class="err-tip"></div>
                        </div>
                        <div class="submit-btn">
                            <button type="submit">立即找回</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript"
        src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+plugins+jquery.placeholder:passport+js+app^ZVA^1493174420.js"
        type="text/javascript" crossorigin="anonymous"></script>
<script language="javascript" src="https://js.mafengwo.net/js/cv/js+mfw.verification:passport+js+form^YFM^1534757150.js"
        type="text/javascript" crossorigin="anonymous"></script>


</body>
</html>
