<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>我的问答</title>
    <meta name="renderer" content="webkit"/>
    <script type="text/javascript">
        window.Env = {
            "target_uid": 85353052,
            "WWW_HOST": "www.mafengwo.cn",
            "IMG_HOST": "images.mafengwo.net",
            "P_HOST": "passport.mafengwo.cn",
            "P_HTTP": "https:\/\/passport.mafengwo.cn",
            "PAGELET_HTTP": "http:\/\/pagelet.mafengwo.cn",
            "JS_HOST": "js.mafengwo.net",
            "UID": 85353052,
            "CSTK": "c4e6a3c005e9592ed1e02eff19cec0ef_70523a9f029046650a05b6ff67caaa52",
            "GOOGLE_MAP_KEY": "AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ",
            "TONGJI_HOST": "tongji.mafengwo.cn"
        };
    </script>
    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1527308432.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+home_new2015+home_ask_v2^Zl0^1498530603.css"
          rel="stylesheet" type="text/css"/>
    <script language="javascript"
            src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js"
            type="text/javascript" crossorigin="anonymous"></script>
</head>
<style type="text/css">
    body {
        padding-top: 0px !important;
    }
</style>
<body>
<div class="main">
    <!--导航栏-->
    <div th:replace="common/userCenter::userNav"></div>
    <!--页面内容-->
    <div class="center clearfix">
        <!--左侧边栏-->
        <div th:replace="common/userCenter::userLeft"></div>
        <!--内容-->
        <div class="content flt2">
            <div class="achievement clearfix">
                <ul>
                    <li><strong th:text="${session.answerNum}">0</strong>
                        <div>回答数</div>
                    </li>
                    <li>
                        <strong th:text="${session.askNum}"><i></i>0</strong>
                        <div>提问数</div>
                    </li>
                    <li><strong>100%</strong>
                        <div>采纳率</div>
                    </li>
                </ul>
                <a class="btn" th:href="@{/TraverAsk/ViewCreateAsk}" target="_blank">我要提问</a>
            </div>
            <div class="wd-main">
                <div class="wd-navbar clearfix">
                    <ul class="wd-nav _j_qa_nav">
                        <li class="on"><a th:href="@{/account/ViewMyTraverAnswers}">我的回答</a></li>
                        <li><a th:href="@{/account/ViewMyTraverAsks}">我的提问</a></li>
                    </ul>
                </div>
                <div class="wd-total">共有<span class="_j_total_item" th:text="${userAnswerList.size()}+'条'"></span>回答
                </div>
                <div class="wd-list _j_qa_list" th:if="${userAnswerList.size()}==0">
                    <div class="no_data">
                        <img src="http://css.mafengwo.net/images/home_new2015/no_num.png" height="139" width="156"
                             alt="">
                        <p>还没有解答任何问题,快去问答广场提问吧~</p>
                    </div>
                </div>
                <div class="wd-list _j_qa_list">
                    <!--这是一个条目-->
                    <div class="wd-item" th:each="answerItem:${userAnswerList}">
                        <div class="wd-medal">
                        </div>
                        <div class="wd-title">
                            <a th:href="@{/TraverAsk/viewAskAnswerDetail(askId=${answerItem.ask_id})}"
                               th:text="'回答了问题'+${answerItem.ask_id}"></a>
                        </div>
                        <div class="wd-detail" th:text="'回答内容: '+${answerItem.answer_content}">
                        </div>
                        <div class="wd-meta">
                            <span class="meta-item meta-like"><i></i>1</span>
                            <div class="meta-pull">
                                <span class="meta-item meta-time" th:text="'回答时间'+${answerItem.add_time}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="pagin" id="smallpager"></div>
                </div>
            </div>
        </div>
    </div>
    <link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>
    <div th:replace="common/userCenter::footer"></div>
    <link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>
</div>
</body>
</html>
