<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/userCenter::userHead"></head>
<body>

<div class="main">
    <!--导航栏-->
    <div th:replace="common/userCenter::userNav">
        <!--页面内容-->
        <div class="center clearfix">
            <!--左侧边栏-->
            <div class="side_bar flt1">
                <!--用户信息-->
                <div class="MAvatar">
                    <!--昵称和性别标签-->
                    <div class="MAvaName">畅游用户625
                        <i class="MGenderMale"></i>
                        <!--<i class="MGenderFemale"></i>-->
                        <!--<i class="MGender"></i>-->
                    </div>
                    <!--生日和居住地，设置图标-->
                    <div class="MAvaInfo clearfix MAvaMyInfo">
                        <span class="MAvaLevel flt1" title="11.15">生日：11.15</a></span>
                        <span class="MAvaPlace flt1" title="鹿儿岛">现居：鹿儿岛</span>
                        <span class="MAvaSet"><a title="设置" href="AccountSetting.html" target="_self"></a></span>
                    </div>
                </div>
            </div>
            <div class="content flt2">
                <div class="achievement clearfix">
                    <ul>
                        <li><a href=""><strong>0</strong>
                            <div>回答数</div>
                        </a></li>
                        <li>
                            <strong><i></i>0</strong>
                            <div>提问数</div>
                        </li>
                        <li><strong>0%</strong>
                            <div>采纳率</div>
                        </li>
                    </ul>
                    <a class="btn" href="../TraverAsk/CreateAsk.html" target="_blank">我要提问</a>
                </div>
                <div class="wd-main">
                    <div class="wd-navbar clearfix">
                        <ul class="wd-nav _j_qa_nav">
                            <li><a href="MyAnswer.html">我的回答</a></li>
                            <li class="on"><a href="MyAsk.html">我的提问</a></li>
                        </ul>
                    </div>
                    <div class="wd-total">共有<span class="_j_total_item">0条</span>提问</div>
                    <div class="wd-list _j_qa_list">
                        <div class="no_data">
                            <img src="http://css.mafengwo.net/images/home_new2015/no_num.png" height="139" width="156"
                                 alt="">
                            <p>这里的还没有东西</p>
                        </div>

                    </div>

                    <div class="wd-list _j_qa_list">
                        <!--这是一个条目-->
                        <div class="wd-item">
                            <div class="wd-medal">
                            </div>
                            <div class="wd-title">
                                <a href="/wenda/detail-12610448-12625441.html" target="_blank">中秋期间想去稻城亚丁和色达，有推荐靠谱的拼车司机吗？</a>
                            </div>
                            <div class="wd-detail">
                                谢邀啦可以试试我上个月找的拼车团队，非常nice~随时想停车都可以，主要是带队的人好，特别体贴我们。什么旅拍，航拍，氧气瓶都有的。还可以去看看我的游记哟~
                            </div>
                            <div class="wd-meta">
                                <span class="meta-item meta-like"><i></i>1</span>
                                <div class="meta-pull">
                                    <span class="meta-item meta-commit">1回答</span>
                                    <span class="meta-item meta-time">2018-08-10 15:25</span>
                                </div>
                            </div>
                        </div>

                        <div class="pagin" id="smallpager"></div>
                    </div>
                </div>
            </div>
        </div>
        <link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>
        <div th:replace="common/userCenter::footer"></div>
        <link href="http://css.mafengwo.net/css/mfw-toolbar.css?1493174418" rel="stylesheet" type="text/css"/>
        <div class="mfw-toolbar" id="_j_mfwtoolbar">
            <div class="toolbar-item-top">
                <a role="button" class="btn _j_gotop">
                    <i class="icon_top"></i>
                    <em>返回顶部</em>
                </a>
            </div>
            <div class="toolbar-item-down">
                <a role="button" class="btn _j_gobottom">
                    <i class="icon_down"></i>
                    <em>页面底部</em>
                </a>
            </div>
        </div>
        <script language="javascript" type="text/javascript">
            if (typeof M !== "undefined" && typeof M.loadResource === "function") {
                M.loadResource("http://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+jquery.tmpl:js+M+module+Pagination:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+qa+QaHome:js+M+module+dialog+confirm:js+M+module+FrequencyVerifyControl:js+M+module+FrequencyAppVerify:js+home+AMsgBoard:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlJT^1531130229.js");
            }
        </script>
    </div>
</div>
</body>
</html>