<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/userCenter::userHead"></head>

<body>

<div class="main">
    <!--导航栏-->
    <div th:replace="common/userCenter::userNav"></div>
    <!--页面内容-->
    <div class="center clearfix">
        <!--左侧边栏-->
        <div th:replace="common/userCenter::userLeft"></div>
        <!--右侧边栏-->
        <div class="content flt2">
            <!--我的游记-->
            <div class="common_block my_notes">

                <!--游记信息-->
                <div class="common_title clearfix">
                    <div class="MAvaMore clearfix">
                        <div class="MAvaNums">
                            <strong>0</strong>
                            <p>游记</p>
                        </div>
                        <div class="MAvaNums">
                            <strong>0</strong>
                            <p>回复</p>
                        </div>
                        <div class="MAvaNums last">
                            <strong>0</strong>
                            <p>阅读</p>
                        </div>
                    </div>
                </div>
                <!--游记列表-->
                <div id="article_list">

                    <div class="notes_default_v2">
                        <div class="notes_dcon">
                            <div class="notes_default_v2">
                                <a href="../TraverAsk/CreateNote.html" target="_blank" title="写游记"
                                   class="btn_write"><i></i>写游记</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="right" class="m-pagination _j_pager_content">
                </div>
            </div>
        </div>
    </div>
</div>
<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>
<div th:replace="common/userCenter::footer"></div>
</body>
</html>