<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>设置新密码</title>
    <meta property="mfw:partner-platform" content="">
    <link href="https://css.mafengwo.net/css/cv/css+login+login_v2:mobile+css+omc+login-omc+login-omc^ZlY^1526627473.css"
          rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="signup-forms">
            <div class="signup-box">
                <div class="add-info">
                    <div class="hd">设置新密码</div>
                    <form th:action="@{/account/ResetPassword}" method="post" id="_j_forget_mail_form">
                        <input type="hidden" name="code" value="53c9815af53cb1ebecc68f4f0e4f5bba">
                        <div class="form-field">
                            <input name="password" type="password" placeholder="您的密码" autocomplete="off"
                                   data-verification-name="密码"/>
                            <div class="err-tip"></div>
                        </div>
                        <div class="form-field">
                            <input name="rpassword" type="password" placeholder="确认密码" autocomplete="off"
                                   data-verification-name="密码"/>
                            <div class="err-tip"></div>
                        </div>
                        <div class="submit-btn">
                            <button class="btn-submit" onclick="submitBtnClick()">重置密码</button>
                            <script type="text/javascript">
                                function submitBtnClick() {
                                    //提交表单
                                    document.fileForm.submit();
                                }
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>