<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>账号安全</title>
    <link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1527308432.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://css.mafengwo.net/css/other/isettings.css?1535630301" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper clearfix">
    <div class="content">
        <div class="hd">
            <strong>邮箱认证</strong>
        </div>
        <!--邮箱改密-->
        <div class="setmail">
            <div class="set-mail">
                <p class="t1">邮件已发送到您的邮箱：<strong th:text="${emailSender}">邮箱号码</strong><br>请点击邮箱中的验证链接完成验证</p>
                <p class="t3">没有收到邮件？</p>
                <p class="t4">1.电子邮件偶尔会有延时状况，请耐心等待<br>2.尝试到垃圾邮件里找找看</p>
            </div>
            <br><br>
        </div>
    </div>
</div>
<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>
<div th:replace="common/userCenter::footer"></div>
</body>
</html>
