
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/userSetting::head"></head>
<body>

<div class="wrapper clearfix">
    <!--左侧边栏-->
    <div th:replace="common/userSetting::leftColum"></div>
    <div class="content userurl">
        <div class="hd">
            <strong>隐私设置</strong>
        </div>
        <div class="userinfo">
            <form action="" method="post" id="_j_form">
                <dl class="clearfix">
                    <dt>游记：</dt>
                    <dd>
                        <label><span class="cssradio"><input type="radio" name="note" value="1" checked="true" /><span></span></span>公开</label>
                        <label><span class="cssradio"><input type="radio" name="note" value="0" /><span></span></span>粉丝可见</label>
                        <label><span class="cssradio"><input type="radio" name="note" value="2" /><span></span></span>仅自己可见</label>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>问答：</dt>
                    <dd>
                        <label><span class="cssradio"><input type="radio" name="anw" value="1" checked="true" /><span></span></span>公开</label>
                        <label><span class="cssradio"><input type="radio" name="anw" value="0" /><span></span></span>粉丝可见</label>
                        <label><span class="cssradio"><input type="radio" name="anw" value="2" /><span></span></span>仅自己可见</label>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>收藏：</dt>
                    <dd>
                        <label><span class="cssradio"><input type="radio" name="collect" value="1" checked="true" /><span></span></span>公开</label>
                        <label><span class="cssradio"><input type="radio" name="collect" value="0" /><span></span></span>粉丝可见</label>
                        <label><span class="cssradio"><input type="radio" name="collect" value="2" /><span></span></span>仅自己可见</label>
                    </dd>
                </dl>
                <div class="btn-sub"><button type="submit">保存</button></div>
            </form>
        </div>
    </div>
</div>

<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>

<footer th:replace="common/userSetting::footer"></footer>


<script language="javascript" type="text/javascript">
    if (typeof M !== "undefined" && typeof M.loadResource === "function") {
        M.loadResource("https://js.mafengwo.net/js/cv/js+Dropdown:js+pageletcommon+pageHeadUserInfoWWWNormal:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+M+module+MesSearchEvent:js+SiteSearch:js+AHeader:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+ACnzzGaLog:js+ARecruit:js+M+module+dialog+alert^Z1db^1532697023.js");
    }
</script>

</body>
</html>
