
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>隐私设置</title>


    <script type="text/javascript">
        window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"https:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","UID":85353052,"CSTK":"ef43d8619337753832c6f5d0d068fd8d_6f37258befa3b363980634aab00adf09","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ","TONGJI_HOST":"tongji.mafengwo.cn"};
    </script>

    <link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1527308432.css" rel="stylesheet" type="text/css"/>
    <link href="https://css.mafengwo.net/css/other/isettings.css?1535630301" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics:js+advert+inspector^alw^1536006240.js" type="text/javascript" crossorigin="anonymous"></script>

</head>
<body>


<!--左侧边栏-->
<div class="wrapper clearfix">
    <div class="aside">
        <a href="UserCenter.html"><i class="i8"></i>返回个人中心</a>
        <a href="AccountSetting.html"><i class="i1"></i>我的信息</a>
        <a href="SettingUserInfo.html"><i class="i2"></i>我的头像</a>
        <a href="SettingSecurity.html"><i class="i4"></i>账号安全</a>
        <a href="SettingPrivacy.html" class="on" target="_self"><i class="i5"></i>隐私设置</a>
    </div>

    <div class="content userurl">
        <div class="hd">
            <strong>隐私设置</strong>
        </div>
        <div class="userinfo">
        <form action="" method="post" id="_j_form">
        <dl class="clearfix">
            <dt>游记：</dt>
            <dd>
                <label><span class="cssradio"><input type="radio" name="note" value="1" checked="true" /><span></span></span>公开</label>
                <label><span class="cssradio"><input type="radio" name="note" value="0" /><span></span></span>粉丝可见</label>
                <label><span class="cssradio"><input type="radio" name="note" value="2" /><span></span></span>仅自己可见</label>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>问答：</dt>
            <dd>
                <label><span class="cssradio"><input type="radio" name="anw" value="1" checked="true" /><span></span></span>公开</label>
                <label><span class="cssradio"><input type="radio" name="anw" value="0" /><span></span></span>粉丝可见</label>
                <label><span class="cssradio"><input type="radio" name="anw" value="2" /><span></span></span>仅自己可见</label>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>收藏：</dt>
            <dd>
                <label><span class="cssradio"><input type="radio" name="collect" value="1" checked="true" /><span></span></span>公开</label>
                <label><span class="cssradio"><input type="radio" name="collect" value="0" /><span></span></span>粉丝可见</label>
                <label><span class="cssradio"><input type="radio" name="collect" value="2" /><span></span></span>仅自己可见</label>
            </dd>
        </dl>
            <div class="btn-sub"><button type="submit">保存</button></div>
        </form>
        </div>
    </div>
</div>


<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>

<div id="footer">
    <div class="ft-content" style="width: 1105px">
        <div class="footer-font">
            Copyright &copy;2018 All rights reserved | This webpage is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> 陈志轩小组
        </div>

    </div>
</div>


<script language="javascript" type="text/javascript">
    if (typeof M !== "undefined" && typeof M.loadResource === "function") {
        M.loadResource("https://js.mafengwo.net/js/cv/js+Dropdown:js+pageletcommon+pageHeadUserInfoWWWNormal:js+jquery.tmpl:js+M+module+InputListener:js+M+module+SuggestionXHR:js+M+module+DropList:js+M+module+Suggestion:js+M+module+MesSearchEvent:js+SiteSearch:js+AHeader:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+ACnzzGaLog:js+ARecruit:js+M+module+dialog+alert^Z1db^1532697023.js");
    }
</script>

</body>
</html>
