<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/userCenter::userHead"></head>
<body>
<div class="main">
    <!--导航栏-->
    <div th:replace="common/userCenter::userNav"></div>
    <!--页面内容-->
    <div class="center clearfix">
        <!--左侧边栏-->
        <div th:replace="common/userCenter::userLeft"></div>
        <!--右侧边栏-->
        <div class="content flt2">
            <!--快捷功能-->
            <div class="common_block main_links">
                <ul class="clearfix">
                    <li><a th:href="@{/TraverAsk/ViewTraverNote}" target="_blank">
                        <i class="write_note"></i><span class="tags_link">看游记</span></a>
                    </li>
                    <li><a th:href="@{/TraverAsk/QuestionAnswer}" target="_blank"><i
                            class="ask_expert"></i><span class="tags_link">问达人</span></a></li>
                    <li><a href="#">
                        <i class="add_footprint"></i><span class="tags_link">查攻略</span></a></li>
                    <li class="last"><a href="#">
                        <i class="invite_friends"></i><span class="tags_link">收消息</span></a>
                    </li>
                </ul>
            </div>
            <!--我的游记-->
            <div class="common_block my_notes">
                <div class="common_title clearfix">
                    <h2>我的游记</h2>
                </div>
                <div class="notes_default_v2">
                    <a th:href="@{/account/GotoCreateNote}" target="_blank" title="写游记" class="btn_write"><i></i>写游记</a>
                </div>
                <!--游记列表-->
                <div class="notes_list">
                    <ul>
                        <li data-order="4" data-top="0">
                            <dl>
                                <dd>
                                    <div class="note_title clearfix">
                                        <div class="note_info">
                                            <h3>
                                                <a href="" target="_blank"
                                                   title="激情龙门峡穿楠溪江“鬼村”探秘（胆小者勿入）">激情龙门峡穿楠溪江“鬼村”探秘（胆小者勿入）</a></h3>
                                            <div class="note_more">

                                                <span class="MInfoNum"><i class="MIcoView"></i><em>944/6</em></span>

                                                <span class="MInfoNum"><i class="MIcoStar"></i><em>9</em></span>
                                                <span class="time">2017-07-12 00:40:59</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="note_word">
                                        好线路，好领队，好激情。——楠溪江龙门峡连穿活动是一条户外溯溪超级虐线，请认真评估自己的能力谨慎报名！本线路不适合户外新人菜鸟参加！
                                        龙门峡，位于浙江温州楠溪江中游，是浙江著名的十大徒步穿越线路之一，也是楠溪江源头最美的一段峡谷。峡谷全程...
                                    </div>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="more_notes">
                    <a class="btn_deleted" href="/u/note/delete.html"><i></i>已删除游记</a>
                </div>
            </div>
            <!--我的提问-->
            <div class="common_block my_notes">
                <div class="common_title clearfix">
                    <h2>我的提问</h2>
                </div>
                <div th:if="${askNum}==0" class="notes_default ask_default">
                    <i class="ico_notes"></i>
                    <div class="notes_default_detail">
                        <p>生活就是一行旅行<br>
                            问题总是接踵而至<br>
                            提出你的问题,让他人帮你解答</p>
                    </div>
                </div>
                <!--回答列表-->
                <div th:if="${askNum}!=0" class="common_title clearfix">
                    <div class="ask_list">
                        <ul class="_j_qa_answer_list">
                            <li th:each="askitem : ${askAnswerContainer.getUserAskList()}">
                                <dl>
                                    <dt class="common_dt">
                                        <div class="ask_ava">
                                            <a href="#" target="_blank">
                                                <!--用户头像url-->
                                                <img th:src="${userProfile.image}" height="48" width="48"
                                                     th:alt="${userProfile.nick_name}">
                                            </a>
                                        </div>
                                        <div class="ask_info">
                                            <h2><a href="#" th:text="${askitem.title}" target="_blank"></a>
                                            </h2>
                                            <span th:text="'此问题共'+${askAnswerContainer.getAnswerListByask(askitem).size()}+'个人参与了回答'"></span>
                                            </p>
                                        </div>
                                    </dt>
                                    <!--下面是回答列表-->
                                    <dd th:each="answeritem : ${askAnswerContainer.getAnswerListByask(askitem)}"
                                        class="answers_dd">
                                        <div class="answer_word"
                                             th:text="${'来自用户'+answeritem.user_id}+'的回答:'+${answeritem.answer_content}">
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部黑色栏-->
<link href="http://css.mafengwo.net/css/mfw-footer.css?1533714581" rel="stylesheet" type="text/css"/>
<div th:replace="common/userCenter::footer"></div>
</body>
</html>