<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .priceTag {
        font-size: 18px;
        margin-top: 5px;
        color: #F3C300;
        font-weight: 800;
    }

    small {
        font-size: 15px;
    }

    .productImg {
        width: 270px;
        height: 170px;
    }

    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
</style>

<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->
<div id="content">
    <!--================Banner Area =================-->
    <section class="banner_area">
        <!--海报-->
        <div class="booking_table d_flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h5 style="letter-spacing: 45px;font-size: 30px">行你所行</h5>
                    <h2 style="letter-spacing: 50px">畅游</h2>
                    <br>
                    <h6 style="letter-spacing: 15px;font-size: 25px">走 ， 去 发 现 更 大 世 界 ！<br></h6>
                </div>
            </div>
        </div>
        <!--海报-->

        <!--定制模块-->
        <div class="hotel_booking_area position">
            <div class="container">
                <div class="hotel_booking_table" style="margin-bottom: 100px">
                    <div class="col-md-3">
                        <h2 style="letter-spacing: 5px">定制您的旅行<br></h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <form th:action="@{/Catalog/Mdd}" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker11'>
                                                    <input th:value="${session.traverMsg.getStart_city()}"
                                                           name="startCity"
                                                           type='text' class="form-control"
                                                           placeholder="出发城市"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input th:value="${session.traverMsg.getEnd_city()}"
                                                           name="destination"
                                                           type='text' class="form-control"
                                                           placeholder="目的地城市"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input th:value="${session.traverMsg.getAdult_num()}"
                                                           name="adultNum"
                                                           type='text' class="form-control"
                                                           placeholder="成人数"/>
                                                </div>
                                                <div class="input-group">
                                                    <input th:value="${session.traverMsg.getChild_num()}"
                                                           name="childrenNum"
                                                           type='text' class="form-control"
                                                           placeholder="儿童数"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input th:text="${session.traverMsg.getTraverdays()}"
                                                           name="travelDays"
                                                           type='text' class="form-control"
                                                           placeholder="行程天数"/>
                                                </div>
                                            </div>
                                            <input type="submit" value="选好了" class="book_now_btn button_hover">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--定制模块-->
    </section>
    <!--================Banner Area =================-->


    <!--================ 产品  =================-->
    <div class="whole-wrap">
        <!--<br>-->
        <div class="section_title text-center">
            <a th:href="@{/Catalog/HotProductList}">
                <h2 class="title_color">热门旅游</h2>
            </a>
        </div>
        <div class="container">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-3 ">
                        <div>
                            <img th:src="${product1.img_url}"
                                 class="productImg">
                        </div>
                    </div>
                    <div class="col-md-7 mt-sm-20 left-align-p">
                        <a th:href="${product1.product_link}"
                           target="_blank">
                            <h4 th:text="${product1.name}" class="mb-30 title_color "></h4>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <div class="priceTag">
                            <p>￥<span th:text="${product1.price}"></span>
                                <small>/人起</small>
                            </p>
                        </div>
                        <div class="logo-size">
                            <a th:href="${product1.supplierUrl}">
                                <img th:if="${product1.supplier_id}=='00001'" src="/image/logo/美团.svg">
                                <img th:if="${product1.supplier_id}=='00002'" src="/image/logo/马蜂窝.svg">
                                <img th:if="${product1.supplier_id}=='00003'" src="/image/logo/携程.svg">
                                <img th:if="${product1.supplier_id}=='00004'" src="/image/logo/去哪儿.svg">
                            </a>
                        </div>
                        <div class="container">
                            <a>评分：</a><span th:text="${product1.product_grade}" class="badge badge-primary"
                                            style="background-color: #f3c300;"></span><br><br>
                            <a>销量：</a><span th:text="${product1.sell_num}" class="badge badge-primary"
                                            style="background-color: #f3aecc;"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 ">
                        <div>
                            <img th:src="${product2.img_url}"
                                 class="productImg">
                        </div>
                    </div>
                    <div class="col-md-7 mt-sm-20 left-align-p">
                        <a th:href="${product2.product_link}"
                           target="_blank">
                            <h4 th:text="${product2.name}" class="mb-30 title_color "></h4>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <div class="priceTag">
                            <p>￥ <span th:text="${product2.price}"></span>
                                <small>/人起</small>
                            </p>
                        </div>
                        <div class="logo-size">
                            <a th:href="${product2.supplierUrl}">
                                <img th:if="${product1.supplier_id}=='00001'" src="/image/logo/美团.svg">
                                <img th:if="${product2.supplier_id}=='00002'" src="/image/logo/马蜂窝.svg">
                                <img th:if="${product2.supplier_id}=='00003'" src="/image/logo/携程.svg">
                                <img th:if="${product2.supplier_id}=='00004'" src="/image/logo/去哪儿.svg">
                            </a>
                        </div>
                        <div class="container">
                            <a>评分：</a><span th:text="${product2.product_grade}" class="badge badge-primary"
                                            style="background-color: #f3c300;"></span><br><br>
                            <a>销量：</a><span th:text="${product2.sell_num}" class="badge badge-primary"
                                            style="background-color: #f3aecc;"></span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
    <!--================ 产品  =================-->


    <!--================ 游记  =================-->
    <section class="latest_blog_area section_gap">
        <div class="container" style="padding-bottom: 1px">
            <div class="section_title text-center">
                <a th:href="@{TraverAsk/ViewTraverNote}"><h2 class="title_color">精 品 游 记</h2></a>
                <p style="text-align: center">这 里 有 最 精 彩 的 旅 行 游 记，能 给 你 更 多 的 旅 行 知 识</p>
            </div>
            <div class="row mb_30">
                <!--item-->
                <div class="col-lg-4 col-md-6" th:each="hotTraverNote : ${hotTraverNoteList}">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="/image/blog/blog-1.jpg" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="#" class="button_hover tag_btn">旅行</a>
                                <a href="#" class="button_hover tag_btn">生活方式</a>
                            </div>
                            <a th:href="@{/TraverAsk/ViewTraverNoteDetail(traverNoteId=${hotTraverNote.id})}"><h4
                                    class="sec_h4" th:text="${hotTraverNote.title}"></h4></a>
                            <p th:text="${hotTraverNote.note_content}" style="margin-top: 3px"></p>
                            <h6 class="date title_color" style="bottom: 0px;position: absolute"
                                th:text="'发表于:'+${hotTraverNote.add_time}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ 游记  =================-->

    <!--================ 游记  =================-->


    <!--================ 酒店  =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <a th:href="@{/Catalog/HotHotelList}"><h2 class="title_color">精品酒店</h2></a>
                <p class="text-center">我 们 竭 力 为 您 推 荐 最 舒 适 最 优 质 性 价 比 最 高 的 酒 店，让 您 在 旅 途 的 奔 波 当 中 能 够 安 心 舒 睡 ，消 除
                    一 天
                    的 疲 惫</p>
                <br><br>
            </div>
            <h4 class="section_title text-center" style="font-size: 20px!important;">最实惠</h4>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6" th:each="hotHotel : ${hotHotelList_01}">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img th:src="${hotHotel.img_url}"
                                 alt="">
                            <a th:href="${hotHotel.hotel_link}"
                               class="btn theme_btn button_hover">立即预定</a>
                        </div>
                        <a th:href="${hotHotel.hotel_link}" target="view_window"><h4 class="sec_h4"
                                                                                     th:text="${hotHotel.name}"></h4>
                        </a>
                        <h5>￥<span th:text="${hotHotel.hotel_price}"></span>
                            <small>/晚</small>
                        </h5>
                        <p th:text="${hotHotel.hotel_content}"></p>
                        <div style="bottom: 5px;position: absolute;left: 40%">
                            评分：<span th:text="${hotHotel.score}" class="badge badge-primary"
                                     style="background-color: #f3c300;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <h4 class="section_title text-center" style="font-size: 20px!important;">最受欢迎</h4>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6" th:each="hotHotel : ${hotHotelList_02}">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img th:src="${hotHotel.img_url}"
                                 alt="">
                            <a th:href="${hotHotel.hotel_link}"
                               class="btn theme_btn button_hover">立即预定</a>
                        </div>
                        <a th:href="${hotHotel.hotel_link}" target="view_window"><h4 class="sec_h4"
                                                                                     th:text="${hotHotel.name}">
                        </h4>
                        </a>
                        <h5>￥<span th:text="${hotHotel.hotel_price}"></span>
                            <small>/晚</small>
                        </h5>
                        <p th:text="${hotHotel.hotel_content}"></p>
                        <div style="bottom: 5px;position: absolute;left: 40%">
                            评分：<span th:text="${hotHotel.score}" class="badge badge-primary"
                                     style="background-color: #f3c300;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ 问答展示  =================-->
    <section class="testimonial_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <a th:href="@{/TraverAsk/QuestionAnswer}"><h2 class="title_color">问 答 专 区</h2></a>
                <p style="text-align: center">为 你 答 疑 解 惑， 更 加 了 解 这 个 城 市</p>
            </div>
            <div class="testimonial_slider owl-carousel">
                <div class="media testimonial_item">
                    <img class="rounded-circle" src="/image/testtimonial-1.jpg" alt="">
                    <div class="media-body">
                        <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If
                            you
                            think about it, you travel across her face, and She is the </p>
                        <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                        <div class="star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="media testimonial_item">
                    <img class="rounded-circle" src="/image/testtimonial-1.jpg" alt="">
                    <div class="media-body">
                        <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If
                            you
                            think about it, you travel across her face, and She is the </p>
                        <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                        <div class="star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="media testimonial_item">
                    <img class="rounded-circle" src="/image/testtimonial-1.jpg" alt="">
                    <div class="media-body">
                        <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If
                            you
                            think about it, you travel across her face, and She is the </p>
                        <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                        <div class="star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="media testimonial_item">
                    <img class="rounded-circle" src="/image/testtimonial-1.jpg" alt="">
                    <div class="media-body">
                        <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If
                            you
                            think about it, you travel across her face, and She is the </p>
                        <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                        <div class="star">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ 问答展示  =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>