<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"></head>

<body>
<!--================ 导航栏区域 =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item "><a class="nav-link" href="../index.html">主页</a></li>
                    <li class="nav-item active"><a class="nav-link" href="CityMsg.html">目的地</a></li>
                    <li class="nav-item"><a class="nav-link" href="../TraverAsk/QuestionAnswer.html">问答专区</a></li>
                    <li class="nav-item"><a class="nav-link" href="ProductList.html">热门旅游</a></li>
                    <li class="nav-item"><a class="nav-link" href="Hotelist.html">酒店</a></li>
                    <li class="nav-item"><a class="nav-link" href="../TraverAsk/TraverNoteList.html">游记</a></li>
                    <li class="nav-item" style="margin-left: 100px"><a class="nav-link" href="../Account/UserCenter.html">用户中心</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Account/AccountLogin.html">登陆</a></li>
                    <li class="nav-item"><a class="nav-link" href="../Account/AccountRegister.html">注册</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================ 导航栏区域 =================-->
<br><br><br><br>

<!--定制模块开始-->
<div class="hotel_booking_area position">
    <div class="container">
        <div class="hotel_booking_table">
            <div class="col-md-3">
                <h2 style="letter-spacing: 5px">定制您的旅行<br></h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    <form action="CityMsg.html" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker11'>
                                            <input id="startTime" type='text' class="form-control" placeholder="出发时间"/>
                                            <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input id="backTime" type='text' class="form-control" placeholder="返程时间"/>
                                            <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="adultNum" type='text' class="form-control" placeholder="成人数"/>
                                        </div>
                                        <div class="input-group">
                                            <input id="childrenNum" type='text' class="form-control" placeholder="儿童数"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="destination" type='text' class="form-control" placeholder="目的地"/>
                                        </div>
                                    </div>
                                    <input type="submit" value="选好了" class="book_now_btn button_hover"
                                           href="ProductDT/CityMsg.html">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--定制模块结束-->

<div class="container" style="margin-top: 0px">
    <div class="section-top-border">
        <div class="row">
            <!--酒店侧边栏开始-->
            <div class="col-lg-2 col-md-4 mt-sm-30 element-wrap"
                 style="background-color: rgba(235,252,255,0.98) ; height: 700px ;overflow:auto">
                <div class="single-element-widget">
                    <h3 style="margin-left: 10px;font-size: 25px" class="mb-30 title_color">想要怎样的酒店？</h3>
                    <!--酒店1-->
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">1. 酒 店 1</h4></a>
                    </div>
                    <hr>
                    <!--酒店1-->
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">2. 酒 店 2</h4></a>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">3. 酒 店 3</h4></a>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">4. 酒 店 4</h4></a>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">5. 酒 店 5</h4></a>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">6. 酒 店 6</h4></a>
                    </div>
                    <hr>
                </div>
            </div>
            <!--酒店侧边栏结束-->

            <!--地图-->
            <div class="col-lg-8 col-md-8" id="allmap"></div>
            <!--地图-->

            <!--景点侧边栏开始-->
            <div class="col-lg-2 col-md-4 mt-sm-30 element-wrap"
                 style="background-color: rgba(235,252,255,0.98) ; height: 700px ;overflow:auto">
                <div class="single-element-widget">
                    <h3 style="margin-left: 10px;font-size: 25px" class="mb-30 title_color">想去哪些景点？</h3>
                    <!--景点1-->
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">1. 景 点 1</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-1">
                            <label for="site-1"></label>
                        </div>
                    </div>
                    <hr>
                    <!--景点1-->

                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">2. 景 点 2</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-2">
                            <label for="site-2"></label>
                        </div>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">3. 景 点 3</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-3">
                            <label for="site-3"></label>
                        </div>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">4. 景 点 4</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-4">
                            <label for="site-4"></label>
                        </div>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">5. 景 点 5</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-5">
                            <label for="site-5"></label>
                        </div>
                    </div>
                    <hr>
                    <div class="switch-wrap d-flex justify-content-between">
                        <a href="#"><h4 style="margin-left: 20px">6. 景 点 6</h4></a>
                        <div class="primary-checkbox">
                            <input type="checkbox" id="site-6">
                            <label for="site-6"></label>
                        </div>
                    </div>
                    <hr>

                    <a href="ProductList.html" style="background-color: #f3c300"
                       class="genric-btn default circle">选好了</a>
                </div>
            </div>
            <!--景点侧边栏结束-->
        </div>
    </div>
</div>

<!--游记区域开始-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <!--游记-->
        <div class="col-lg-6 " style="border-right: 5px solid #f3c300; padding-right: 50px ">
            <div class="section_title text-center">
                <a href="../TraverAsk/TraverNoteList.html"><h2 class="title_color">推 荐 游 记</h2></a>
                <p>这 里 有 最 精 彩 的 旅 行 游 记，给 你 更 多 的 旅 行 知 识</p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/image/blog/blog-1.jpg" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="#" class="button_hover tag_btn">Travel</a>
                                <a href="#" class="button_hover tag_btn">Life Style</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Low Cost Advertising</h4></a>
                            <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.</p>
                            <h6 class="date title_color">31st January,2018</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/image/blog/blog-2.jpg" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="#" class="button_hover tag_btn">Travel</a>
                                <a href="#" class="button_hover tag_btn">Life Style</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Creative Outdoor Ads</h4></a>
                            <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and
                                fear are</p>
                            <h6 class="date title_color">31st January,2018</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="../../static/image/blog/blog-3.jpg" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="#" class="button_hover tag_btn">Travel</a>
                                <a href="#" class="button_hover tag_btn">Life Style</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">It S Classified How To Utilize Free</h4></a>
                            <p>Why do you want to motivate yourself? Actually, just answering that question fully
                                can </p>
                            <h6 class="date title_color">31st January,2018</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--游记-->
        <!--攻略-->
        <div class="col-lg-6" style="padding-left: 50px">
            <div class="section_title text-center">
                <a href="#"><h2 class="title_color">推 荐 攻 略</h2></a>
                <p>这 里 有 最 全 面 的 旅 行 攻 略，为 您 的 旅 行 出 谋 划 策</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../static/image/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 ">
                    <a href="#"><h4 class="sec_h4">这里是标题</h4></a>
                    <p> 这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息
                        <img style="width: 90px;height: 35px;float: right" src="../../static/image/logo/携程.svg">
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../static/image/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 ">
                    <a href="#"><h4 class="sec_h4">这里是标题</h4></a>
                    <p> 这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息
                        <img style="width: 90px;height: 35px;float: right" src="../../static/image/logo/携程.svg">
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../static/image/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8 ">
                    <a href="#"><h4 class="sec_h4">这里是标题</h4></a>
                    <p> 这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息
                        <img style="width: 90px;height: 35px;float: right" src="../../static/image/logo/携程.svg">
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <!--攻略-->
    </div>
</section>
<!--游记区域结束-->

<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
    <!--<div class="container" style="height: 50px;">-->
    <!--&lt;!&ndash;<div class="border_line"></div>&ndash;&gt;-->
    <!---->
    <!--</div>-->
    <div class="row footer-bottom d-flex justify-content-between align-items-center">
        <p class="col-lg-8 col-sm-12 footer-text m-0" style="text-align: center">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | made with 陈志轩-group
        </p>
    </div>
</footer>
<!--================ End footer Area  =================-->

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom("长沙");      // 初始化地图,用城市名设置地图中心点
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    CityMsg.setCurrentCity("长沙");          // 设置地图显示的城市 此项是必须设置的
    CityMsg.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
</body>
</html>