<!doctype html >
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->
<div id="content" style="margin-top: 10px">
    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">精 品 酒 店</h2>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================定制模块================-->
    <div class="container">
        <form method="get" action="/Catalog/HotHotelList">
            <div class="row margin-div">
                <div class="col-lg-9">
                    <hr>
                    <div class="row">
                        <div class="select-margin"><p><b>产品来源：</b></p></div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>全部</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="0" id="store-all"
                                       th:checked="${session.hotProductcheckedStoreAll}">
                                <label for="store-all"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>美团</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00001" id="store-1">
                                <label for="store-1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>携程</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00003" id="store-2">
                                <label for="store-2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>马蜂窝</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00002" id="store-3">
                                <label for="store-3"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>去哪儿</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00004" id="store-4">
                                <label for="store-4"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>飞猪</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00005" id="store-5">
                                <label for="store-5"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>途牛</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00006" id="store-6">
                                <label for="store-6"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="select-margin"><p><b>价格区间：</b></p></div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>全部</p>
                            <div class="primary-checkbox">
                                <input name="price" type="radio" value="0" id="price-all"
                                       th:checked="${session.hotProductcheckedTypeAll}">
                                <label for="price-all"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>100元以内</p>
                            <div class="primary-checkbox">
                                <input name="price" type="radio" value="100" id="price-1">
                                <label for="price-1"></label>
                                <input name="type" type="radio" value="100" id="type-1">
                                <label for="type-1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>100-250元</p>
                            <div class="primary-checkbox">
                                <input name="price" type="radio" value="250" id="price-2">
                                <label for="price-2"></label>
                                <input name="type" type="radio" value="250" id="type-2">
                                <label for="type-2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>250-500元</p>
                            <div class="primary-checkbox">
                                <input name="price" type="radio" value="500" id="price-3">
                                <label for="price-3"></label>
                                <input name="type" type="radio" value="500" id="type-3">
                                <label for="type-3"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>500元以上</p>
                            <div class="primary-checkbox">
                                <input name="price" type="radio" value="1000" id="price-4">
                                <label for="price-4"></label>
                                <input name="type" type="radio" value="1000" id="type-4">
                                <label for="type-4"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-3">
                    <div class="input-group" style="margin-top: 30px">
                        <input type="text" class="form-control" placeholder="输入您想搜索的内容">
                        <span class="input-group-addon myYellow"><a href="#"><i
                                class="glyphicon glyphicon-search myYellow"> <span class="myYellow">搜索</span></i></a></span>
                    </div>

                    <div class="input-group" style="margin-top: 30px">
                        <input type="submit" value="按条件筛选" class="book_now_btn button_hover">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <!--================定制模块================-->


    <!--================定制模块================-->

    <!--================ 精选酒店模块 =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">为 您 精 选</h2>
                <p>为 您 提 供 最 优 质 的 酒 店 选 择</p>
            </div>
            <div class="row accomodation_two">
                <div class="col-lg-3 col-sm-6" th:each="hotelMsg:${hotelMsgPageInfo.getPageData()}">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img th:src="${hotelMsg.img_url}" alt="">
                            <a class="btn theme_btn button_hover" th:href="${hotelMsg.hotel_link}"
                               target="_blank">立即预定</a>
                        </div>
                        <a th:href="${hotelMsg.hotel_link}" target="_blank"><h4 class="sec_h4"
                                                                                th:text="${hotelMsg.name}">
                            Double Deluxe Room</h4></a>
                        <h5 th:utext="${hotelMsg.hotel_price}+'<small>/日</small>'">$250

                        </h5>
                    </div>
                </div>
            </div>
            <center>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a th:href="@{/Catalog/HotHotelList(destination=${session.location} ,pageNum=1)}">
                                首页 </a>
                        </li>
                        <li>
                            <a th:if="${not hotelMsgPageInfo.isFirstPage() }"
                               th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum = ${hotelMsgPageInfo.getCurrentPage() - 1})}">上一页</a>
                        </li>

                        <li th:if="${hotelMsgPageInfo.getMaxPage()<=10}"
                            th:each="pageNo : ${#numbers.sequence(1, hotelMsgPageInfo.getMaxPage())}">
                            <a th:if="${hotelMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (hotelMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>

                        <li th:if="${hotelMsgPageInfo.getMaxPage()>10 && hotelMsgPageInfo.getCurrentPage()+10 >hotelMsgPageInfo.getMaxPage()}"
                            th:each="pageNo : ${#numbers.sequence(hotelMsgPageInfo.getMaxPage()-10, hotelMsgPageInfo.getMaxPage())}">
                            <a th:if="${hotelMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (hotelMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>

                        <li th:if="${hotelMsgPageInfo.getMaxPage()>10 && hotelMsgPageInfo.getCurrentPage()+10 <= hotelMsgPageInfo.getMaxPage()}"
                            th:each="pageNo : ${#numbers.sequence(hotelMsgPageInfo.getCurrentPage(), hotelMsgPageInfo.getCurrentPage()+10)}">
                            <a th:if="${hotelMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (hotelMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>

                        <li>
                            <a th:if="${not hotelMsgPageInfo.isLastPage() }"
                               th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum = ${hotelMsgPageInfo.getCurrentPage() + 1})}">下一页</a>
                        </li>

                        <li>
                            <a th:href="@{/Catalog/HotHotelList(destination=${session.location},pageNum = ${hotelMsgPageInfo.getMaxPage()})}">
                                尾页 </a>
                        </li>
                    </ul>
                </nav>
            </center>
        </div>
    </section>
    <!--================ 精选酒店模块  =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>