<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../../static/image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../static/css/bootstrap.css">
        <link rel="stylesheet" href="../../static/vendors/linericon/style.css">
        <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="../../static/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="../../static/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/responsive.css">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- 可选的Bootstrap主题文件（一般不使用） -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="../index.html">主页</a></li>
                            <li class="nav-item "><a class="nav-link" href="CityMsg.html">目的地</a></li>
                            <li class="nav-item"><a class="nav-link" href="../TraverAsk/QuestionAnswer.html">问答专区</a></li>
                            <li class="nav-item"><a class="nav-link" href="ProductList.html">热门旅游</a></li>
                            <li class="nav-item active"><a class="nav-link" href="Hotelist.html">酒店</a></li>
                            <li class="nav-item"><a class="nav-link" href="../TraverAsk/TraverNoteList.html">游记</a></li>
                            <li class="nav-item" style="margin-left: 100px"><a class="nav-link" href="../Account/UserCenter.html">用户中心</a></li>
                            <li class="nav-item"><a class="nav-link" href="../Account/AccountLogin.html">登陆</a></li>
                            <li class="nav-item"><a class="nav-link" href="../Account/AccountRegister.html">注册</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">精 品 酒 店</h2>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->

        <!--================定制模块================-->
        <div class="container" style="padding-top: 50px">
            <div class="hotel_booking_area position">
                <div class="container">
                    <div class="hotel_booking_table">
                        <div class="col-md-3">
                            <h2>预定您的酒店<br></h2>
                        </div>
                        <div class="col-md-9">
                            <div class="boking_table">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker11'>
                                                    <input type='text' class="form-control" placeholder="出发时间"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" placeholder="返程时间"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type='text' class="form-control" placeholder="成人数"/>
                                                </div>
                                                <div class="input-group">
                                                    <input type='text' class="form-control" placeholder="儿童数"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type='text' class="form-control" placeholder="目的地"/>
                                                </div>
                                            </div>
                                            <a class="book_now_btn button_hover" href="CityMsg.html">填好了</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================定制模块================-->
        <div th:include="common/header::testimage"></div>
        <!--================ 精选酒店模块 =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">精 选 酒 店</h2>
                    <p>为 您 提 供 最 优 质 的 酒 店 选 择</p>
                </div>
                <div class="row accomodation_two">
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room1.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Double Deluxe Room</h4></a>
                            <h5>$250<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room2.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Single Deluxe Room</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room3.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Honeymoon Suit</h4></a>
                            <h5>$750<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room4.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Economy Double</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room1.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Double Deluxe Room</h4></a>
                            <h5>$250<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room2.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Single Deluxe Room</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room3.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Honeymoon Suit</h4></a>
                            <h5>$750<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="../../static/image/room4.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">立即预定</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Economy Double</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ 精选酒店模块  =================-->

        <!--================ start footer Area  =================-->
        <footer class="footer-area section_gap" >
            <!--<div class="container" style="height: 50px;">-->
            <!--&lt;!&ndash;<div class="border_line"></div>&ndash;&gt;-->
            <!---->
            <!--</div>-->
            <div class="row footer-bottom d-flex justify-content-between align-items-center" >
                <p class="col-lg-8 col-sm-12 footer-text m-0" style="text-align: center">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | made with 陈志轩-group
                </p>
            </div>
        </footer>
        <!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../../static/js/jquery-3.2.1.min.js"></script>
        <script src="../../static/js/popper.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../../static/js/jquery.ajaxchimp.min.js"></script>
        <script src="../../static/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="../../static/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="../../static/js/mail-script.js"></script>
        <script src="../../static/js/stellar.js"></script>
        <script src="../../static/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../../static/js/custom.js"></script>
    </body>
</html>