<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--================ 导航栏区域 =================-->
<header th:replace="common/menu::header"></header>
<!--================ 导航栏区域 =================-->
<div id="content">
    <br><br><br><br>

    <!--定制模块开始-->
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2 style="letter-spacing: 5px">定制您的旅行<br></h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <form th:action="@{/Catalog/Mdd}" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input th:value="${session.traverMsg.start_city}" name="startCity"
                                                       type='text' class="form-control"
                                                       placeholder="出发城市"/>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input th:value="${session.traverMsg.end_city}" name="destination"
                                                       type='text' class="form-control"
                                                       placeholder="目的地城市"/>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input th:value="${session.traverMsg.adult_num}" name="adultNum"
                                                       type='text' class="form-control"
                                                       placeholder="成人数"/>
                                            </div>
                                            <div class="input-group">
                                                <input th:value="${session.traverMsg.child_num}"
                                                       name="childrenNum"
                                                       type='text' class="form-control"
                                                       placeholder="儿童数"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input th:text="${session.traverMsg.traverdays}"
                                                       name="travelDays"
                                                       type='text' class="form-control"
                                                       placeholder="行程天数"/>
                                            </div>
                                        </div>
                                        <input type="submit" value="选好了" class="book_now_btn button_hover">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--定制模块结束-->

    <div class="container" style="margin-top: 0px">
        <div class="section-top-border">
            <div class="row">
                <!--景点侧边栏开始-->
                <div class="col-lg-2 col-md-4 mt-sm-30 element-wrap"
                     style="background-color: rgba(235,252,255,0.98) ; height: 700px ;overflow:auto">
                    <h3 style="margin-left: 10px;font-size: 25px" class="mb-30 title_color">想去哪些景点？</h3>
                    <div class="single-element-widget" th:each="recommendScenic : ${session.recommendScenicList}">
                        <div class="switch-wrap d-flex justify-content-between">
                            <a th:href="${recommendScenic.link_url}"><h4 th:text="${recommendScenic.name}"
                                                                         style="margin-left: 20px"></h4></a>
                        </div>
                        <hr>
                    </div>

                    <div class="pager">
                        <a class="page_num" href="">1</a>
                        <a class="page_num" href="">2</a>
                        <a class="page_num" href="">3</a>
                    </div>
                </div>
                <!--景点侧边栏结束-->

                <!--地图-->
                <div class="col-lg-8 col-md-8" id="allmap"></div>
                <!--地图-->

                <!--酒店侧边栏开始-->
                <div class="col-lg-2 col-md-4 mt-sm-30 element-wrap"
                     style="background-color: rgba(235,252,255,0.98) ; height: 700px ;overflow:auto">
                    <h3 style="margin-left: 10px;font-size: 25px" class="mb-30 title_color">想要怎样的酒店？</h3>
                    <div class="single-element-widget" th:each="recommendHotel : ${session.recommendHotelList}">
                        <div class="switch-wrap d-flex justify-content-between">
                            <a th:href="${recommendHotel.hotel_link}"><h4 th:text="${recommendHotel.name}"
                                                                          style="margin-left: 20px"></h4></a>
                            <div class="primary-checkbox">
                                <input type="checkbox" id="site-1">
                                <label for="site-1"></label>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="pager">
                        <a class="page_num" href="">1</a>
                        <a class="page_num" href="">2</a>
                        <a class="page_num" href="">3</a>
                    </div>
                </div>
                <!--酒店侧边栏结束-->
            </div>
        </div>
    </div>

    <!--游记区域开始-->
    <section class="latest_blog_area section_gap">
        <div class="container">
            <!--游记-->
            <div class="col-lg-6 " style="border-right: 5px solid #f3c300; padding-right: 50px ">
                <div class="section_title text-center">
                    <a th:href="@{TraverAsk/ViewTraverNote}"><h2 class="title_color">推 荐 游 记</h2></a>
                    <p>这 里 有 最 精 彩 的 旅 行 游 记，给 你 更 多 的 旅 行 知 识</p>
                </div>
                <div class="row mb_30" th:each="recommendTraverNote : ${session.recommendTraverNoteList}">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" th:src="${recommendTraverNote.img_url}" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Travel</a>
                                    <a href="#" class="button_hover tag_btn">Life Style</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Low Cost Advertising</h4></a>
                                <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                    farmer.</p>
                                <h6 class="date title_color">31st January,2018</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--游记-->

            <!--攻略-->
            <div class="section_title text-center">
                <a><h2 class="title_color">推 荐 攻 略</h2></a>
                <p>这 里 有 最 全 面 的 旅 行 攻 略，为 您 的 旅 行 出 谋 划 策</p>
            </div>
            <div class="col-lg-6" style="padding-left: 50px"
                 th:each="recommendStrategy : ${session.recommendStrategyList}">
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="${recommendStrategy.img_url}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 ">
                        <a th:href="${recommendStrategy.link_url}"><h4 th:text="${recommendStrategy.title}"
                                                                       class="sec_h4">标题</h4></a>
                        <p th:text="${recommendStrategy.simple_content}">
                            这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息这里是详细的旅游信息
                            <img style="width: 90px;height: 35px;float: right" src="../../static/image/logo/携程.svg">
                        </p>
                    </div>
                </div>
            </div>
            <!--攻略-->
        </div>
    </section>
    <!--游记区域结束-->

    <script type="text/javascript">
        // 百度地图API功能
        var map = new BMap.Map("allmap");    // 创建Map实例
        map.centerAndZoom("长沙");      // 初始化地图,用城市名设置地图中心点
        //添加地图类型控件
        map.addControl(new BMap.MapTypeControl({
            mapTypes: [
                BMAP_NORMAL_MAP,
                BMAP_HYBRID_MAP
            ]
        }));
        CityMsg.setCurrentCity("长沙");          // 设置地图显示的城市 此项是必须设置的
        CityMsg.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    </script>

</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>