<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <script src="/js/semantic.min.js"></script>
</head>
<body>

<!--================ 导航栏区域 =================-->
<header th:replace="common/menu::header"></header>
<!--================ 导航栏区域 =================-->
<div id="content">
    <br><br><br><br>
    <!--定制模块开始-->
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <div id="main">
                                                <div id="the_content" th:text="${viewCity}"
                                                     style="color:#fff; padding-left: 30px; border-color: white">内容一
                                                </div>
                                                <div id="tan">▶</div>
                                            </div>
                                            <div id="optionList">
                                                <ul id="option"
                                                    style="color: #000;max-height:150px;background-color:#fff;overflow:auto;z-index:3;list-style:none; padding-left: 30px;position: absolute">
                                                    <li onclick="change(this)" th:each="cityName : ${cityNameList}"
                                                        th:text="${cityName}"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <style>
                                    #optionList {
                                        display: none;
                                    }

                                    #option li:hover {
                                        background-color: #aaa;
                                    }

                                    #the_content, #tan {
                                        display: inline-block;
                                    }

                                    #tan {
                                        float: right;
                                        color: aliceblue;
                                    }
                                </style>
                                <script type="text/javascript">
                                    $('#main').click(function () {
                                        if ($('#optionList').css('display') === "none") {
                                            $("#tan").text("▼");
                                            $("#optionList").slideDown();
                                        } else {
                                            $("#tan").text("▶");
                                            $("#optionList").slideUp();
                                        }
                                    });

                                    function change(e) {
                                        var a = $(e).text();
                                        $("#the_content").text(a);
                                        if ($("#optionList").css("display") !== "none") {
                                            $("#optionList").slideUp();
                                        }
                                        //jqury不能取出渲染的th:text
                                        var view_city = document.getElementById('the_content').innerText;
                                        window.location.href = "/Catalog/Mdd?view_city=" + view_city;
                                    }

                                    function gotoProduct() {
                                        var keyword = $('#destination').val();
                                        window.location.href = '/Catalog/Mdd?keyword=' + keyword;
                                    }
                                </script>
                            </div>
                            <div class="col-md-8">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input th:value="${session.traverMsg.end_city}" id="destination"
                                                   name="destination"
                                                   type='text' class="form-control"
                                                   placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="book_tabel_item">
                                    <button th:text="搜索产品" class="book_now_btn button_hover"
                                            id="button" onclick="gotoProduct()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--定制模块结束-->

    <div class="container" style="margin-top: 0px">
        <div class="section-top-border">
            <div class="row">
                <!--景点侧边栏开始-->
                <div class="col-lg-3 col-md-3 mt-sm-30 element-wrap"
                     style="background-color: rgba(235,252,255,0.98) ; height: 700px ;overflow:auto">
                    <h3 style="margin-left: 10px;font-size: 25px" class="mb-30 title_color">想去哪些景点？</h3>
                    <div class="single-element-widget" th:each="recommendScenic : ${session.recommendScenicList}"
                         name="broadside">
                        <div class="switch-wrap d-flex justify-content-between">
                            <a style="font-size: 18px!important;" th:href="${recommendScenic.link_url}" target="_blank">
                                <h4 th:text="${recommendScenic.name}" name="scenic"
                                    style="margin-left: 20px"></h4></a>
                        </div>
                        <hr>
                    </div>
                </div>
                <!--景点侧边栏结束-->

                <!--地图-->
                <div class="col-lg-9 col-md-9   " id="map" style="height: 700px">
                    <!--显示当前地图所在城市-->
                    <!--根据景点的地址将景点凸显出来（标定点）-->
                    <!--根据景点的布局最好全部显示出景点-->
                    <!--当点击侧边栏的时候.....-->
                </div>
                <!--<div id="panel" class="col-lg-2 col-md-2" style="height: 700px"></div>-->

                <script src="https://webapi.amap.com/maps?v=1.4.10&key=754607261b9b76661652d0588746686d"></script>
                <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
                <!--地图-->
            </div>
        </div>
    </div>

    <!--================ 门票  =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <a><h2 class="title_color">热门景点门票</h2></a>
                <p class="text-center" th:text="'欢迎来到'+${viewCity}+',畅游网为您提供最热门景点门票信息'"></p>
                <br><br>
            </div>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6" th:each="ticketMsg : ${productMsgPageInfo.getPageData()}">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img th:src="${ticketMsg.img_url}"
                                 alt="">
                            <a th:href="${ticketMsg.ticket_link}"
                               class="btn theme_btn button_hover">立即购买</a>
                        </div>
                        <a th:href="${ticketMsg.ticket_link}" target="view_window"><h4 class="sec_h4"
                                                                                       th:text="${ticketMsg.scenic_name}">
                            名字</h4>
                        </a>
                        <h5>￥<span th:text="${ticketMsg.ticket_price}"></span>
                            <small>/次</small>
                        </h5>
                        <p th:text="${ticketMsg.ticket_content}">描述</p>
                    </div>
                </div>

            </div>
            <center th:if="${productMsgPageInfo.getPageData().size() != 0}">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a th:href="@{${'/Catalog/Mdd'}(pageNum = 1)}"> 首页 </a>
                        </li>
                        <li>
                            <a th:if="${not productMsgPageInfo.isFirstPage()}"
                               th:href="@{${'/Catalog/Mdd'}(pageNum = ${productMsgPageInfo.getCurrentPage() - 1})}">上一页</a>
                        </li>
                        <li th:if="${productMsgPageInfo.getMaxPage() <= 10}"
                            th:each="pageNo : ${#numbers.sequence(1, productMsgPageInfo.getMaxPage())}">
                            <a th:if="${productMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (productMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{${'/Catalog/Mdd'}(pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>
                        <li th:if="${productMsgPageInfo.getCurrentPage()+10 >= productMsgPageInfo.getMaxPage() && productMsgPageInfo.getMaxPage() > 10}"
                            th:each="pageNo : ${#numbers.sequence(productMsgPageInfo.getMaxPage() -10, productMsgPageInfo.getMaxPage())}">
                            <a th:if="${productMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (productMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{${'/Catalog/Mdd'}(pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>
                        <li th:if="${productMsgPageInfo.getCurrentPage()+10 < productMsgPageInfo.getMaxPage() && productMsgPageInfo.getMaxPage() > 10}"
                            th:each="pageNo : ${#numbers.sequence(productMsgPageInfo.getCurrentPage(), productMsgPageInfo.getCurrentPage()+10)}">
                            <a th:if="${productMsgPageInfo.getCurrentPage() eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (productMsgPageInfo.getCurrentPage() eq pageNo)}"
                               th:href="@{${'/Catalog/Mdd'}(pageNum=${pageNo})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${not productMsgPageInfo.isLastPage()}"
                               th:href="@{${'/Catalog/Mdd'}(pageNum=${productMsgPageInfo.getCurrentPage()+1})}">下一页</a>
                        </li>
                        <li>
                            <a th:href="@{${'/Catalog/Mdd'}(pageNum = ${productMsgPageInfo.getMaxPage()})}">
                                尾页 </a>
                        </li>
                    </ul>
                </nav>
            </center>

            <br>
            <br>
            <br>
        </div>
    </section>
    <script>
        var map = new AMap.Map('map', {
            resizeEnable: true,
            zoom: 11
        });

        var cityPositioning = function () {
            //this指向<div class="single-element-widget" name="scenicPosition">
            var scenicName = this.firstElementChild.firstElementChild.firstElementChild.innerHTML;
            var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "010", //城市
                map: map
                // panel: "panel"
            });
            placeSearch.search(scenicName);
        };

        //给侧边栏绑定事件
        var scenicPositionList = document.getElementsByName("broadside");
        for (var q = 0; q < scenicPositionList.length; q++) {
            AMap.event.addDomListener(scenicPositionList[q], 'click', cityPositioning);
        }

        //页面加载后显示出第一个景点
        AMap.service(["AMap.PlaceSearch"], function () {
            var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                pageSize: 5,
                pageIndex: 1,
                city: "010", //城市
                map: map
                // panel: "panel"
            });
            var scenicList = document.getElementsByName("scenic");
            var addressList = [];//获得景点字符串
            addressList[0] = scenicList[0].innerHTML;
            console.log(addressList[0]);
            placeSearch.search(addressList[0]);
        });
    </script>
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>