<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->
<div id="content" style="margin-top: 10px">
    <br><br><br>
    <div class="container ">
        <form method="get" action="/Catalog/HotProductList">
            <div class="row margin-div">
                <div class="col-lg-9">
                    <hr>
                    <div class="row">
                        <div class="select-margin"><p><b>行程天数：</b></p></div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>全部 </p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="0" id="days-all"
                                       th:checked="${session.hotProductcheckedDaysAll}">
                                <label for="days-all"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>1天 </p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="1" id="days-1">
                                <label for="days-1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>2天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="2" id="days-2">
                                <label for="days-2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>3天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="3" id="days-3">
                                <label for="days-3"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>4天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="4" id="days-4">
                                <label for="days-4"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>5天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="5" id="days-5">
                                <label for="days-5"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>6天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="6" id="days-6">
                                <label for="days-6"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>7天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="7" id="days-7">
                                <label for="days-7"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>8天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="8" id="days-8">
                                <label for="days-8"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>9天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="9" id="days-9">
                                <label for="days-9"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>10天</p>
                            <div class="primary-checkbox">
                                <input name="days" type="radio" value="10" id="days-10">
                                <label for="days-10"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="select-margin"><p><b>产品来源：</b></p></div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>全部</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="0" id="store-all"
                                       th:checked="${session.hotProductcheckedStoreAll}">
                                <label for="store-all"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>携程</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00003" id="store-1">
                                <label for="store-1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>马蜂窝</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00002" id="store-2">
                                <label for="store-2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>去哪儿</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00004" id="store-3">
                                <label for="store-3"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>飞猪</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00005" id="store-4">
                                <label for="store-4"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>途牛</p>
                            <div class="primary-checkbox">
                                <input name="store" type="radio" value="00006" id="store-5">
                                <label for="store-5"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="select-margin"><p><b>旅游类型：</b></p></div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>全部</p>
                            <div class="primary-checkbox">
                                <input name="type" type="radio" value="0" id="type-all"
                                       th:checked="${session.hotProductcheckedTypeAll}">
                                <label for="type-all"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>半自助</p>
                            <div class="primary-checkbox">
                                <input name="type" type="radio" value="半自助" id="type-1">
                                <label for="type-1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>跟团游</p>
                            <div class="primary-checkbox">
                                <input name="type" type="radio" value="跟团游" id="type-2">
                                <label for="type-2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between select-margin"
                             style="margin-right: 10px;">
                            <p>私家团</p>
                            <div class="primary-checkbox">
                                <input name="type" type="radio" value="私家团" id="type-3">
                                <label for="type-3"></label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="submit" value="按条件筛选" class="book_now_btn button_hover">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="输入您想搜索的内容">
                <span class="input-group-addon myYellow"><a href="#"><i
                        class="glyphicon glyphicon-search myYellow"> <span class="myYellow">搜索</span></i></a></span>
            </div>
        </div>
    </div>
</div>

<br><br>
<!--================ 产品  =================-->
<div class="whole-wrap">
    <br>
    <div class="section_title text-center">
        <h2 class="title_color">为您推荐</h2>
    </div>
    <div class="container">
        <div class="section-top-border" th:each="productMsg:${productMsgList}"
             th:if="${productMsg.product_price}!='价格未知'">
            <div class="row">
                <div class="col-md-3 hotel_img">
                    <div class=" hotel_img">
                        <img th:src="${productMsg.img_url}"
                             class="img-fluid">
                    </div>

                </div>
                <div class="col-md-7 mt-sm-20 left-align-p">
                    <a th:href="${productMsg.product_link}"
                       target="_blank">
                        <h3 class="mb-30 title_color" th:text="${productMsg.name}">海南三亚4日3晚跟团游(5钻)·【自营优选】网红游亚特兰蒂斯神秘世界
                            0购物 海景套房+希尔顿品牌选择
                            热门景区全覆盖</h3>
                    </a>
                </div>
                <div class="col-md-2">
                    <div class="priceTag">
                        <p th:utext="'￥'+${productMsg.product_price}+'<small>/人起</small>'">￥1754

                        </p>
                    </div>
                    <div class="logo-size">
                        <img th:if="${productMsg.supplier_id}=='00001'" src="/image/logo/美团.svg">
                        <img th:if="${productMsg.supplier_id}=='00002'" src="/image/logo/马蜂窝.svg">
                        <img th:if="${productMsg.supplier_id}=='00003'" src="/image/logo/携程.svg">
                        <img th:if="${productMsg.supplier_id}=='00004'" src="/image/logo/去哪儿.svg">
                    </div>
                    <div class="container">
                        <a>评分：</a><span class="badge badge-primary"
                                        style="background-color: #f3c300;"
                                        th:text="${productMsg.product_grade}">4.8</span><br><br>
                        <a>销量：</a><span class="badge badge-primary" style="background-color: #f3aecc;"
                                        th:text="${productMsg.sell_num}">1200</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--================ 产品  =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>