<!doctype html >
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<body>
<!--================Header Area =================-->
<header th:replace="common/menu::header"></header>
<!--================Header Area =================-->
<div id="content" style="margin-top: 10px">
    <br><br><br>
    <div class="container ">
        <div class="row margin-div">
            <div class="col-lg-9">
                <div class="row">
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>1月</p>
                        <div class="primary-checkbox">
                            <input name="time" type="radio" id="time-1">
                            <label for="time-1"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>2月</p>
                        <div class="primary-checkbox">
                            <input name="time" type="radio" id="time-2">
                            <label for="time-2"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>3月</p>
                        <div class="primary-checkbox">
                            <input name="time" type="radio" id="time-3">
                            <label for="time-3"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>4月</p>
                        <div class="primary-checkbox">
                            <input name="time" type="radio" id="time-4">
                            <label for="time-4"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>5月</p>
                        <div class="primary-checkbox">
                            <input name="time" type="radio" id="time-5">
                            <label for="time-5"></label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="select-margin"><p><b>行程天数：</b></p></div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>全部 </p>
                        <div class="primary-checkbox">
                            <input name="days" type="radio" id="days-all">
                            <label for="days-all"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>1天 </p>
                        <div class="primary-checkbox">
                            <input name="days" type="radio" id="days-1">
                            <label for="days-1"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>2天</p>
                        <div class="primary-checkbox">
                            <input name="days" type="radio" id="days-2">
                            <label for="days-2"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>3天</p>
                        <div class="primary-checkbox">
                            <input name="days" type="radio" id="days-3">
                            <label for="days-3"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>4天</p>
                        <div class="primary-checkbox">
                            <input name="days" type="radio" id="days-4">
                            <label for="days-4"></label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="select-margin"><p><b>供应商：</b></p></div>
                    <div class="switch-wrap d-flex justify-content-between select-margin" style="margin-left: 55px">
                        <p>全部</p>
                        <div class="primary-checkbox">
                            <input name="store" type="checkbox" id="store-all">
                            <label for="store-all"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>携程</p>
                        <div class="primary-checkbox">
                            <input name="store" type="checkbox" id="store-1">
                            <label for="store-1"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>马蜂窝</p>
                        <div class="primary-checkbox">
                            <input name="store" type="checkbox" id="store-2">
                            <label for="store-2"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>去哪儿</p>
                        <div class="primary-checkbox">
                            <input name="store" type="checkbox" id="store-3">
                            <label for="store-3"></label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="select-margin"><p><b>旅游类型：</b></p></div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>全部</p>
                        <div class="primary-checkbox">
                            <input name="type" type="radio" id="type-all">
                            <label for="type-all"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>半自助</p>
                        <div class="primary-checkbox">
                            <input name="type" type="radio" id="type-1">
                            <label for="type-1"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between select-margin">
                        <p>跟团游</p>
                        <div class="primary-checkbox">
                            <input name="type" type="radio" id="type-2">
                            <label for="type-2"></label>
                        </div>
                    </div>
                </div>
                <hr>

            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入您想搜索的内容">
                    <span class="input-group-addon myYellow"><a href="#"><i
                            class="glyphicon glyphicon-search myYellow"> <span class="myYellow">搜索</span></i></a></span>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <!--================ 产品  =================-->
    <div class="whole-wrap">
        <br>
        <div class="section_title text-center">
            <h2 class="title_color">为您推荐</h2>
        </div>
        <div class="container">
            <div class="section-top-border" th:each="productMsg:${pageInfo.getPageData()}">
                <div class="row">
                    <div class="col-md-3 hotel_img">
                        <div class=" hotel_img">
                            <img th:src="${productMsg.img_url}"
                                 class="img-fluid">
                        </div>

                    </div>
                    <div class="col-md-7 mt-sm-20 left-align-p">
                        <a th:href="${productMsg.product_link}"
                           target="_blank">
                            <h3 class="mb-30 title_color" th:text="${productMsg.name}">海南三亚4日3晚跟团游(5钻)·【自营优选】网红游亚特兰蒂斯神秘世界 0购物 海景套房+希尔顿品牌选择
                                热门景区全覆盖</h3>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <div class="priceTag">
                            <p>￥1754
                                <small>/人起</small>
                            </p>
                        </div>
                        <div class="logo-size">
                            <img th:if="${productMsg.supplier_id}=='00001'" src="/static/image/logo/美团.svg">
                            <img th:if="${productMsg.supplier_id}=='00002'" src="/static/image/logo/携程.svg">
                            <img th:if="${productMsg.supplier_id}=='00003'" src="/image/logo/携程.svg">
                            <img th:if="${productMsg.supplier_id}=='00004'" src="/static/image/logo/携程.svg">
                        </div>
                        <div class="container">
                            <a>评分：</a><span class="badge badge-primary"
                                            style="background-color: #f3c300;" th:text="${productMsg.product_grade}">4.8</span><br><br>
                            <a>销量：</a><span class="badge badge-primary" style="background-color: #f3aecc;" th:text="${productMsg.sell_num}">1200</span>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a th:href="@{${'/Catalog/HotProductList'}(pageNum = 1,pageSize=5)}"> 首页 </a>
                        </li>
                        <li>
                            <a th:if="${not isFirstPage}" th:href="@{${'/Catalog/HotProductList'}(pageNum = ${pageNum - 1},pageSize=${pageSize})}">前一页</a>
                            <a th:if="${isFirstPage}" href="javascript: void(0);">Previous</a>
                        </li>
                        <li th:each="pageNo : ${#numbers.sequence(pageNum, pageNum+10)}">
                            <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                                <span th:text="${pageNo}"></span>
                            </a>
                            <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/Catalog/HotProductList'}(pageNum=${pageNo},size=${pageSize})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>

                        <li>
                            <a th:if="${not isLastPage}" th:href="@{${'/Catalog/HotProductList'}(pageNum=${pageNum+1},size=${pageSize})}">后一页</a>
                            <a th:if="${isLastPage}" href="javascript:void(0);">Next</a>
                        </li>

                        <li><a th:href="@{${'/Catalog/HotProductList'}(pageNum = ${pageInfo.getMaxPage() - 5} ,pageSize=5)}"> 尾页 </a ></li>
                    </ul>
                </nav>
            </center>
        </div>
    </div>
    <!--================ 产品  =================-->
</div>
<!--================ start footer Area  =================-->
<footer th:replace="common/menu::footer"></footer>
<!--================ End footer Area  =================-->
</body>
</html>