<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.carefree.Persistence.ProductCityMsgMapper">
    <cache/>
    <select id="getProductCityList" resultType="com.csu.carefree.Model.ProductDT.ProductCityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id as product_id
    FROM ProductDT_product_city
    </select>

    <select id="getAllDepartCityListByProductId" parameterType="java.lang.String"
            resultType="com.csu.carefree.Model.ProductDT.ProductCityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id as productId
    FROM ProductDT_product_city
    WHERE product_id = #{productId}
    </select>

    <select id="getDepartCityPriceByProductId" resultType="com.csu.carefree.Model.ProductDT.ProductCityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id as product_id
    FROM ProductDT_product_city
    WHERE product_id = #{productId} AND city_id = #{cityName}
    </select>
  
</mapper>