<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.carefree.Persistence.Product_CityMsgMapper">

    <cache/>

    <select id="getProduct_CityList" resultType="com.csu.carefree.Model.ProductDT.Product_CityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id_id as product_id
    FROM ProductDT_product_city
    </select>

    <select id="getAllDepartCityListByProductId" parameterType="java.lang.String"
            resultType="com.csu.carefree.Model.ProductDT.Product_CityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id_id as product_id
    FROM ProductDT_product_city
    WHERE product_id_id = #{product_id}
    </select>

    <select id="getADepartCity_Price" resultType="com.csu.carefree.Model.ProductDT.Product_CityMsg">
    SELECT
      id,
      city_id,
      product_price,
      product_id_id as product_id
    FROM ProductDT_product_city
    WHERE product_id_id = #{0} AND city_id = #{1}
    </select>
</mapper>