<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.carefree.Persistence.TicketMsgMapper">

    <cache/>

    <!--获得所有门票信息-->
    <select id="getTicketList" resultType="com.csu.carefree.Model.ProductDT.TicketMsg">
    SELECT
      ID,
      SCENIC_NAME,
      TICKET_CONTENT,
      SCENSE_ADDRESS,
      TICKET_PRICE,
      TICKET_LINK,
      SCORE,
      IMG_URL,
      CITY_NAME,
      SUPPLIER_ID_ID AS supplier_id
    FROM ProductDT_ticketsmsg
    </select>

    <!--通过景点名字获取景点信息-->
    <select id="getTicketListByScenicName" parameterType="java.lang.String" resultType="com.csu.carefree.Model.ProductDT.TicketMsg">
    SELECT
      ID,
      SCENIC_NAME,
      TICKET_CONTENT,
      SCENSE_ADDRESS,
      TICKET_PRICE,
      TICKET_LINK,
      SCORE,
      IMG_URL,
      CITY_NAME,
      SUPPLIER_ID_ID AS supplier_id
    FROM ProductDT_ticketsmsg
    WHERE lower(SCENIC_NAME) LIKE #{scenic_name}
    </select>

    <select id="getTicketListByCityName" parameterType="java.lang.String" resultType="com.csu.carefree.Model.ProductDT.TicketMsg">
    SELECT
      ID,
      SCENIC_NAME,
      TICKET_CONTENT,
      SCENSE_ADDRESS,
      TICKET_PRICE,
      TICKET_LINK,
      SCORE,
      IMG_URL,
      CITY_NAME,
      SUPPLIER_ID_ID AS supplier_id
    FROM ProductDT_ticketsmsg
    WHERE LOWER (CITY_NAME) LIKE #{cityName}
    </select>

</mapper>