<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.carefree.Persistence.UserAnswerMapper">

    <cache />

    <!--
        实现查询所有问题答案，将结果以LIST形式输出
    -->
    <select id="getUserAnswerByAsk" parameterType="java.lang.String" resultType="com.csu.carefree.Model.TraverAsk.UserAnswer">
    SELECT
        ID,
        ANSWER_CONTENT,
        ADD_TIME,
        ASK_ID_ID AS ask_id,
        USER_ID_ID AS user_id,
    FROM TraverAsk_useranswer
        ORDER BY ${'add_time'} DESC
  </select>

    <!--
        实现回答用户问题
    -->
    <insert id="insertUserAnswer" parameterType="com.csu.carefree.Model.TraverAsk.UserAnswer">
    INSERT INTO TraverAsk_useranswer
      (ID, ANSWER_CONTENT, ADD_TIME, ASK_ID_ID, USER_ID_ID)
    VALUES
      (#{id}, #{answer_content}, #{add_time}, #{user_id})=
  </insert>


    <!--通过用户名称获取用户问题列表-->
    <select id="getUserAnswerListByName" parameterType="java.lang.String" resultType="com.csu.carefree.Model.TraverAsk.UserAnswer">
    SELECT
        ID,
        ANSWER_CONTENT,
        ADD_TIME,
        ASK_ID_ID AS ask_id,
        USER_ID_ID AS user_id,
    FROM TraverAsk_useranswer
    WHERE user_id_id = #{username}
    </select>

</mapper>